<ion-grid class='page flex flex-col'>
  <smd-card>
    <div class='color-primary text-bold'>운전하기</div>
    1단계 : 가까운 곳 한 바퀴 돌기 (지인과 함께)
  </smd-card>

  <div class='mt-8'>
    훈련을 진행한 <span class='smd-underline'>날짜와 시간</span>을 입력해 주세요.
  </div>
  <div class='mt-2 flex flex-row'>
    <ion-datetime-button class='w-full' datetime='datetime'></ion-datetime-button>

    <ion-modal [keepContentsMounted]='true'>
      <ng-template>
        <ion-datetime id='datetime'></ion-datetime>
      </ng-template>
    </ion-modal>
  </div>
  <div class='mt-8'>
    훈련을 진행한 장소는 어디인가요?
  </div>
  <ion-input class='mt-4' placeholder='훈련을 진행한 장소'></ion-input>

</ion-grid>
