<ion-grid class='page flex flex-col'>
  <h1>실제 일상활동<br />노출훈련 진행하기</h1>

  <ion-row class='mt-4'>
    <ion-text>
      1단계부터 순서대로 실제 훈련을 진행합니다.
      <br /><br />
      노출훈련 전 복식호흡으로 충분히 이완하세요.  노출 중 신체 감각과 불편함을 충분히 느껴봅니다. 그리고 불안하긴 하지만 걱정하던 일이 실제로 일어나는 것은 아니며, 일을 끝마칠 수 있을 정도로 충분히 견딜만하다는 것을 경험해 봅시다.
      <br /><br />
      인지왜곡 바로잡기를 통하여 공황 증상을 흘려보낼 수 있도록 노력합니다.
    </ion-text>
  </ion-row>

  <smd-tip-box text='' class='absolute smd-mr bottom-32 fill-available'>
    공황과 두려운 정도가 낮은 훈련 방법부터 진행하는 것을 추천드립니다.
  </smd-tip-box>
  <smd-tip-box text='' class='absolute smd-mr bottom-4 fill-available'>
    두렵고 무서울 수 있습니다. 하지만 공황발작은 시간이 지나면 저절로 사라는 것을 잊지마세요.
  </smd-tip-box>
</ion-grid>
