<ion-grid class='page flex flex-col'>
  <div>
    일상활동 노출훈련 계획을 직접 세워봅시다.<br /><br />
    내가 훈련하고자 하는 상황을 설정하고, 3단계의 강도로 나눠 구체적인 계획을 직접 세워보도록 합니다.<br /><br />
    아래 예시를 참고해 주세요.
  </div>

  <smd-card class='mt-6'>
    <div class='flex flex-col'>
      <p>
        <span class='color-primary-dark'>훈련상황</span> &nbsp;대중교통
      </p>
      <p>
        <span class='color-primary-dark'>1단계</span> &nbsp;두려운 생각 다스리기
      </p>
      <p>
        <span class='color-primary-dark'>2단계</span> &nbsp;회피행동 다스리기
      </p>
      <p>
        <span class='color-primary-dark'>3단계</span> &nbsp;혼자 30분 이상 타기
      </p>
    </div>
  </smd-card>

</ion-grid>
