@import 'src/theme/variables';

.score-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  font-size: 1.5em;

  span {
    color: $color-primary;
  }
}
