<ion-grid class='page flex flex-col'>
  <h1>
    증상 노출훈련으로 
    <br />
    회피 행동 조절하기
  </h1>
  
  <div class='mt-6'>
    <smd-card>
      <div class='mt-2 mb-2'>
        <span class='color-primary'>프로그램 3</span>&nbsp;&nbsp;이완훈련을 통한 신체감각 다스리기
        <br />
        <span class='color-primary'>프로그램 4-5</span>&nbsp;&nbsp;두려운 생각 다스리기
        <br />
        <span class='color-primary'>프로그램 6-7</span>&nbsp;&nbsp;회피 행동 다스리기
      </div>
    </smd-card>
    <ion-text>
      <div class='mt-6'>
        우리는 지난 시간까지 두려운 생각을 다스리는 방법을 배우고 연습했습니다. 불안이나 공황 시 자신의 두려운 생각을 구체적으로 찾을 수 있었나요? 그리고 생각의 오류를 대신할 대안적인 해석을 연습하였나요? 생각 다스리기는 공포와 불안의 악순환을 일으키는 잘못된 생각을 수정하는 것이 목적입니다. 따라서 이 과정이 신체감각을 즉각 없애 주지는 못하지만, 궁극적으로는 공포와 불안을 감소시키고 점차 신체감각도 감소하게 됩니다.
        <br /><br />
        오래된 습관은 쉽게 사라지지 않습니다. 새로운 사고방식을 기존의 사고방식보다 더 원활히 사용하기 위해서는 많은 시간과 연습이 필요합니다. 연습을 반복해도 두려운 생각이 다시 떠오를 수 있습니다. 그럴 때마다 다시 반복해서 증거를 찾고 타당한 생각으로 수정해 나가십시오. 새로운 사고방식은 반복적인 연습을 통해 더욱 강력해질 것입니다.
        <br /><br />
        이번 주부터는 
        <span class='smd-underline'>회피 행동을 조절하는 방법</span>
        을 배우겠습니다.
        <br /><br />
      </div>
    </ion-text>
  </div>
</ion-grid>