
<ion-grid class='page flex flex-col'>

  <ion-row>
    <img src='assets/img/placeholder.svg' />
  </ion-row>

  <ion-row>
    <ion-text>
      <span class='smd-underline'>
        PanicDoc을 성공적으로 마치기 위해서는 공황과 불안을 관찰하고 기록하는 것이 필수입니다.
      </span>
      <br /><br />
      매일 자신의 생각과 기분, 공황발작 상황을 객관적으로 관찰하고 기록하는 것은 자신의 공황을 이해하는 데 도움을 주며, 증상에 대응하는 효과적인 방법을 찾을 수 있기 때문에 공황장애를 극복하는 데 매우 중요합니다.
      <br /><br />
      관찰과 기록을 통하여 나의 신체감각, 사고, 행동에 대한 공황과 불안을 객관적으로 바라볼 수 있고, 증상이 어떻게 발생하고 어떻게 악화 또는 호전되는지에 대하여 스스로 통찰할 수 있습니다.
    </ion-text>
  </ion-row>

</ion-grid>
