<ion-grid class='page flex flex-col'>
  <h2 class=''>
    {{ auth.name }}님이 세운 일상활동 노출훈련 계획
  </h2>

  <div class='panel mt-6'>
    집에 혼자 있기
    <p>
      <span class='color-primary-dark'>1단계</span> 집에서 혼자 1시간 있어보기
    </p>
    <p>
      <span class='color-primary-dark'>2단계</span> 집에서 혼자 3시간 있어보기
    </p>
    <p>
      <span class='color-primary-dark'>3단계</span> 집에서 혼자 자보기
    </p>
  </div>

  <div class='text-gray-500 mt-6'>
    상황을 상상하며 계획을 세우는 것만으로도 이미 인지행동치료를 스스로 시작였습니다.<br /><br />
    직접 세운 계획을 수행하면 그 훈련의 결과는 더 큰 치료효과로 이어질 것입니다.<br /><br />
    나의 일상생활에 필요한 장기 계획을 세워볼까요?<br /><br />
  </div>

</ion-grid>
