<ion-grid class='page flex flex-col'>
  <h1>불안이란?<br /></h1>
  <ion-row>
    <ion-text class='mt-6'>
      <br />
      <span>
        공황발작은 아주 급작스러운 공포의 엄습인 반면, 불안은 나쁜 일이 일어날지도 모른다는 지속적인 걱정입니다. 불안은 모든 사람이 경험하는 자연스러운 감정이며 삶의 한 부분입니다. 불안 그 자체는 결코 나쁜 것이 아니며 오히려 대개의 경우 수행 능률을 향상시킵니다. 즉 불안이 어느 정도는 있어야만 공부도 더 잘 되고, 운동경기에서도 더 좋은 성적을 거둘 수 있습니다.
        <br /><br />
        하지만 가벼운 불쾌감부터 거의 하루 내내 지속되는 불안에 이르기까지 그 정도에는 많은 차이가 있습니다. 일상생활에 지장을 주는 “병적인 불안”이란 불안이 일어나지 않아도 되는 상황에서 일어나거나 필요 이상으로 심하게 일어나는 불안을 말합니다.
        <br /><br />
        따라서 본 프로그램의 목표는 병적인 불안의 횟수나 정도를 감소시키는 것이지, 불안 자체를 아주 없애는 것은 아닙니다. 불안을 완전히 없애는 것은 불가능할 뿐더러 바람직하지도 않습니다. 어느 정도의 불안은 좋은 것이며 또한 필요한 것입니다.
        <br /><br />
        다음을 눌러 ‘불안’을 신체감각, 생각, 행동 구성요소를 통해 이해해봅시다. 
        <br /><br />
      </span>
      <br /><br />
    </ion-text>
  </ion-row>
</ion-grid>
