<ion-grid class='page flex flex-col'>

  <h1>공황발작과 불안</h1>

  <div class='mt-4'>
    공황발작은 빠르게 최고조에 이르렀다가 10 ~ 30분 사이에 약화되는 특징이 있습니다.<br />
    <br />
    반면, 불안은 보다 천천히 증가하고 오래 지속됩니다.
    공황발작이 가라앉은 이후에 한동안 일부 증상을 계속 경험하며 불안감을 느끼는 것을 잔여불안이라고 합니다.
  </div>

  <img class='mt-6' src='assets/img/chart01.svg' />

  <div class='mt-6'>
    PanicDoc에서는 매일 나의 감정, 불안, 공황에 대한 생각을 작성할 수 있는 <span class='smd-underline'>감정일기</span>와, 공황이 일어난 상황을 기록하는 <span class='smd-underline'>공황발작 기록</span>을 작성할 수 있습니다.
  </div>

</ion-grid>
