<div class='flex flex-row justify-center'>
  <div class='circled-word w-[80px] h-[80px] orange' [innerHtml]='word1'>
  </div>
</div>
<div class='flex flex-row justify-center items-center mt-5'>
  <img class='arrow-left mr-16' src='assets/icon/arrow1.svg' />
  <img class='arrow-right' src='assets/icon/arrow1.svg' />
</div>
<div class='flex flex-row justify-center items-center mt-7'>
  <div class='circled-word w-[80px] h-[80px] sky' [innerHtml]='word2'>
    생각
  </div>
  <img class='arrow-bottom' src='assets/icon/arrow1.svg' />
  <div class='circled-word w-[80px] h-[80px] pink' [innerHtml]='word3'>
    감정&행동
  </div>
</div>
