<ion-grid class='page flex flex-col'>
  <h1>인지왜곡 찾고 바로잡기</h1>
  <br />
  <div class='mt-6'>
    <ion-text>
      <div>
        지금까지 자동사고와 생각의 오류에 대해 알아보았습니다.
        <br /><br />
        지금부터 하나의 시나리오를 통해 공황에 대한 자동사고와, 사고의 오류에 대한 구체적인 예시를 살펴보겠습니다.
      </div>
    </ion-text>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
  </div>
  <smd-tip-box text='' class='absolute smd-mr bottom-4'>
    다음의 사례는 나의 공황증상의 촉발요인과 다를 수 있지만, 나의 공황경험을 연상하여 훈련하면 더 좋습니다.
  </smd-tip-box>
</ion-grid>
