<ion-grid class='page flex flex-col'>
  <h1>
    신체 반응에 대한<br />
    바르게 생각하고 기록하기
  </h1>
  <div class='mt-6'>
    훈련을 통해 나의 감정과 행동을 기록하세요.<br />
    공황발작 기록과 유사하게 입력할 수 있습니다.<br />
    <br />
    기록지까지 작성하여야 나의 훈련이 완료됩니다.<br />
    <br />
    왼쪽 상단 메뉴의 나의훈련에서 훈련기록을 확인할 수 있습니다.
  </div>
  <smd-tip-box text='' class='absolute smd-mr bottom-32 fill-available'>
    나의 훈련 기록에는 운동 시간이 같이 입력 됩니다. 점점 강도를 높여가며 신체증상을 마주하는 훈련을 진행해 주세요.
  </smd-tip-box>
  <smd-tip-box text='' class='absolute smd-mr bottom-4 fill-available'>
    증상 노출훈련은 이번 주부터 매일 훈련이 가능합니다.<br />주 3회 이상 훈련해 주세요.
  </smd-tip-box>
</ion-grid>
