<ion-grid class='page flex flex-col'>
  <h1>주간처방</h1>
  <div class='mt-6'>
    PanicDoc에서는 월요일부터 일요일까지 입력한 내용으로 <span class='smd-underline'>매주 일요일 오후 8시</span>에 주간처방을 확인할 수 있습니다.<br />
    <br /><br />
    일주일 치의 감정일기, 공황발작 기록지를 일요일 오후 8시 전까지 완료해주세요. 일요일 오후 8시 이후로는 그 주의 감정일기와 공황기록을 수정, 삭제할 수 없습니다. 매일 기록을 해야 나의 주간처방이 더 정확해집니다.
  </div>
  <img class='mt-2' src='assets/img/img13.svg' />
  <div class='mt-4'>
    관찰과 기록은 아주 중요합니다. 본 프로그램을 통해 최대의 치료효과를 얻기 위해서는 기록을 매일 열심히 해야 합니다. 처음에는 억지로라도 관찰 기록을 남기다 보면, 곧 익숙해지고 성과로 이어질 것입니다.
  </div>

  <div class='mt-6 mb-8'>
    <smd-tip-box [checkmark]='true' text=''>
      일요일 오후 8시 주간처방 이후로는<br />
      그 주의 감정일기와 공황기록을 수정, 삭제할 수 없습니다.
    </smd-tip-box>
  </div>

</ion-grid>
