<smd-header1 title='공황평가(PDSS)' back='/pdss-questionnaire-step5'></smd-header1>

<ion-content>
  <ion-grid class='page grow'>
    <h2 class='mt-8'>
      만약 지난 주에 공황발작이 있었다면, 발작 시 얼마나 고통스러웠나요?
    </h2>
    <h2 class='mt-4 mb-4 text-gray-500'>
      만약 한 번 이상의 공황발작을 경험했다면, 평균으로 평가해주세요.
    </h2>
    <h2 class='mb-4 text-gray-500'>
      공황발작은 없었지만 공황증상들만 경험했다면, 그 증상에 대하여 평가해주세요.
    </h2>

    <smd-item-list [items]='items' [(selection)]='selection' [divider]='true' [marginSize]='4' [innerMarginSize]='4'>
    </smd-item-list>

  </ion-grid>
</ion-content>

<smd-program-footer text='다음 (6/11)' (next)='next()' [disabled]='!valid'>
</smd-program-footer>
