:host {
  background-color: #F9F9F9;
}
ion-content {
  --background: #F9F9F9;
}

svg {
  position: absolute;
  top: 0; left: 0;
  z-index: 9999;
}
button.guide-close {
  position: absolute;
  top: 20px;
  left: 10px;
  z-index: 9999;
  color: white;
}
button.guide-next {
  position: absolute;
  right: 20px;
  z-index: 9999;
  color: white;
  border-radius: 18px;
  width: 80px;
  height: 36px;
}
.guide-desc {
  position: absolute;
  z-index: 9999;
  color: white;
}

ion-button.course-button {
  --background: white;
  --color: black;
  --box-shadow: 0 4px 8px rgba(134, 144, 162, 0.25);
}
