<ion-grid class='page flex flex-col'>
  <h1>나를 관찰하고 기록하면?</h1>
  <div class='panel mt-5'>
    <div class='mt-2'>
      <b>
        1. 감정의 일방적 피해자가 아닌 관찰자가 되는 법을
        배울 수 있습니다.
      </b>
    </div>
    <div class='mt-3 text-gray-500'>
      매일 나의 불안감, 우울함, 통제력 상실에 대한 두려움을 살펴본다는 것이 결코 쉬운 일은 아닙니다.<br />
      <br />
      하지만, 나를 관찰하고 기록하면 막연한 두려움을 생각과 행동, 감정으로 나누어 생각해 볼 수 있고<br />
      증상이 발생하는 상황과 변화하는 과정을 알아차릴 수 있습니다.<br />
      <br />
      그리고, 이완훈련을 하며 알게 된 내 몸을 조절하는 통제감을 느끼며 내 삶의 작은 노력으로 불안과 공포를 조절할 수 있음을 느껴봅시다.
    </div>
  </div>
</ion-grid>
