<ion-grid class='page flex flex-col'>
  <h1>점진적 근육이완훈련</h1>
  <br />
  <ion-row>
    <span>
      <ion-text>
        <div>
          우리 몸의 근육은 심리적으로 불안하거나 스트레스를 받으면 긴장하게 됩니다.
          <br /><br />
          긴장상태는 다양한 신체감각을 유발할 수 있으며, 또한 그 자체가 두려움을 주는 원인이 될 수 있습니다. 뇌는 근육이 수축되면 위험에 노출되어 있거나 공포스러운 상황에 빠진 것처럼 인식합니다.
          <br /><br />
          이때 근육을 충분히 이완하면 맥박과 혈압이 차츰 낮아지고 호흡 수와 땀의 배출도 줄어듭니다. 또한 심리적인 편안함도 경험할 수 있습니다.
          <br /><br />
          단계별로 몸 전체 여러 부위의 근육을 하나씩 이완하며 몸과 마음을 편안히 해봅시다.
        </div>
      </ion-text>     
    </span>
  </ion-row>
</ion-grid>