
<ion-grid class='page flex flex-col'>
  <h1>공황의 신체감각</h1>

  <ion-row class='mt-6'>
    <img src='assets/img/placeholder.svg' />
  </ion-row>

  <h1 class='mt-6'>심장은 왜 두근대나요?</h1>
  <ion-row class='mt-6'>
    <ion-text>
      교감신경계가 활성화되면 심장박동이 빨라지고 강해집니다. 이로 인해 혈류가 빨라지면 보다 많은 산소를 조직에 공급하고 노폐물을 신속히 제거하여 위험에 잘 대처할 수 있습니다.
    </ion-text>
  </ion-row>
  <ion-row class='mt-6'>
    <ion-text>
      혈액 공급 또한 변화합니다. 위험에 맞서 싸우거나 도망가는 데에 중요한 역할을 하는 다리 근육과 같이 큰 근육조직에는 혈액이 많이 필요하므로 혈관을 확장시켜 피가 많이 가게 하고, 반대로 응급 상황에 그다지 중요하지 않은 피부, 손가락, 발가락 등의 혈관을 좁혀서 피가 적게 가게 합니다. 그 결과, 피부가 창백하고 손가락과 발가락이 차가워지며, 손이나 발의 힘이 떨어지거나 감각이 없어지고 따끔거리며 저리기도 합니다.
    </ion-text>
  </ion-row>
  <ion-row class='mt-6'>
    <ion-text>
      이는 위험으로부터 스스로를 보호하기 위해 교감신경계가 활성화되었을 때 일어나는 정상적인 반응이며, 무언가 심각하게 잘못되었다는 신호가 아닙니다.
    </ion-text>
  </ion-row>

</ion-grid>
