<ion-grid class='page flex flex-col'>
  <h1>공황의 촉발요인</h1>
  <div class='mt-6'>
    <ion-text>
      <div>
        공황은 아무런 이유 없이 갑자기 일어나는 것처럼 보일 때가 많습니다. 왜냐하면 심장박동이나 호흡수의 작은 변화와 같이 대개 알아차리기 어려운 미세한 신체감각의 변화가 원인이 되기 때문입니다. 
        <br /><br />
        우리는 여러 상황에서 다양한 신체감각을 경험합니다. 배가 고플 수도 있고, 목이 마를 수도 있고, 졸릴 수도 있으며, 계단을 오르며 심장이 두근거리기도 합니다. 이러한 신체감각을 어떻게 해석하느냐에 따라 불안이나 공황 증상이 나타날 수도 있고 아닐 수도 있습니다. 
        <br /><br />
        지금까지 배웠던 것처럼, 신체감각에 대한 공포 자체가 미세한 신체감각에 반응하여 더욱 심한 신체감각을 유발하고 공황을 경험하게 할 수 있습니다. 또한, 과거에 몇 번 신체감각에 대한 공포감을 경험하고 나면, 의식적인 두려운 생각이 없이도 신체감각의 미세한 변화에도 거의 자동적으로 공포를 느낄 수도 있습니다.
        <br /><br />
        우리는 공황의 촉발요인을 분석해서 신체감각 자체가 공황이나 불안을 의미하는 것이 아님을 배울 것입니다. 또한, 회피하는 대신 공포에 직면하여 자동화된 공포감을 극복할 수 있도록 할 것입니다.
      </div>
    </ion-text>
  </div>
</ion-grid>