<ion-grid class='page flex flex-col'>

  <h1>
    같은 사건에도 <span class='smd-underline'>다양한 해석</span>이<br />
    있을 수 있습니다.
  </h1>

  <div class='text-gray-500 mt-3'>
    똑같이 공황발작이 찾아와도, 어떻게<br />
    생각하느냐에 따라 내 감정과 행동이 달라집니다.
  </div>

  <div class='relative flex flex-row justify-center items-center border-slate-100 mt-4 pb-12'>

    <svg xmlns="http://www.w3.org/2000/svg" width="320.5" height="321" viewBox="0 0 320.5 321">
      <g id="그룹_55379" data-name="그룹 55379" transform="translate(-27.5 -239.5)">
        <path id="패스_35722" data-name="패스 35722" d="M160,0A160,160,0,1,1,0,160,160,160,0,0,1,160,0Z" transform="translate(28 240)" fill="#f2f1f1"/>
        <g id="그룹_55373" data-name="그룹 55373" transform="translate(0 -3)">
          <path id="패스_35724" data-name="패스 35724" d="M140.376,0A159.5,159.5,0,0,0,27.239,46.863L140.376,160Z" transform="translate(47.624 243)" fill="#ddefe8" stroke="#49b578" stroke-linejoin="round" stroke-width="1"/>
          <path id="패스_35726" data-name="패스 35726" d="M93,93Z" transform="translate(95 310)" fill="#ddefe8" stroke="#49b578" stroke-width="1"/>
          <path id="패스_35727" data-name="패스 35727" d="M93,93Z" transform="translate(95 310)" fill="#ddefe8" stroke="#49b578" stroke-width="1"/>
          <path id="패스_35729" data-name="패스 35729" d="M140.376,93,27.239,206.137A159.5,159.5,0,0,0,140.376,253Z" transform="translate(47.624 310)" fill="#ddefe8" stroke="#49b578" stroke-linejoin="round" stroke-width="1"/>
          <path id="패스_35730" data-name="패스 35730" d="M93,93V253a159.5,159.5,0,0,0,113.137-46.863Z" transform="translate(95 310)" fill="#ddefe8" stroke="#49b578" stroke-linejoin="round" stroke-width="1"/>
          <path id="패스_35731" data-name="패스 35731" d="M0,93A159.5,159.5,0,0,0,46.863,206.137L160,93Z" transform="translate(28 310)" fill="#ddefe8" stroke="#49b578" stroke-linejoin="round" stroke-width="1"/>
          <path id="패스_35732" data-name="패스 35732" d="M160,140.376,46.863,27.239A159.5,159.5,0,0,0,0,140.376Z" transform="translate(28 262.624)" fill="#ddefe8" stroke="#49b578" stroke-linejoin="round" stroke-width="1"/>
        </g>
      </g>
    </svg>

    <div class='absolute text-center left-[55%] top-[30%]'>
      호흡이 점점 가빠져<br />결국 숨이 막혀 죽을거야.
    </div>
    <div class='absolute text-center left-[55%] top-[70%]'>
      내가 빨리<br />뛰어서 그래
    </div>
    <div class='absolute text-center right-[55%] top-[70%]'>
      이건 정상적인<br />반응이야
    </div>
    <div class='absolute text-center right-[65%] top-[45%]'>
      몸에 산소를 공급<br />하려고 숨을 많이<br />쉬는거야.
    </div>
    <div class='absolute text-center right-[72%] top-[32%]'>
      호흡은 다시<br />돌아올거야.
    </div>
    <div class='absolute text-center right-[52%] top-[7%]'>
      너무 의식해서<br />숨이 더 가쁘게<br />느껴지는거야
    </div>

  </div>

  <hr />

  <div class='text-blue-600 text-center mt-4 mb-8'>
    나를 힘들게 하는 생각은 한 가지 사건에 대한 극단적인 해석일 뿐입니다. 같은 상황이 안전하다는 다양한 근거들을 찾아보면 부정적 사고가 실현될 가능성이 아주 희박하다는 것이 느껴집니다.
  </div>

</ion-grid>
