<ion-grid class='page flex flex-col'>
  <smd-card class='mt-4'>
    <div class='text-center'>
      {{ context.p7.course1.step1answer?.name }}
    </div>
  </smd-card>
  <div class='mt-6'>
    노출훈련하는 것은 결코 쉬운 일이 아닙니다. 하지만 노출훈련은 인지행동치료에서 가장 중요한 과정입니다. 마지막 훈련입니다. 지치지 말고 끝까지 완주해 봅시다.<br />
    <br />
    한 번의 노출로 불안이 말끔히 사라지는 것은 아닙니다. 노출 직후 불안감이 남아있는 것은 당연한 것입니다. 하지만 계획한 노출훈련을 충분한 시간동안, 충분한 횟수로 반복하면 불안과 공황은 분명 좋아질 것입니다. 나는 이전에 어려워했던 것들을 할 수 있게 될 것입니다.<br />
    <br />
    한 주간 증상/일상활동 노출훈련을 총 3회 진행해 보도록 합시다.
  </div>

</ion-grid>
