<ion-grid class='page flex flex-col'>

  <div>
    내가 왜 불안한지 갑작스레 이 공황이 나타났는지 이유와 요인은 알지만 스스로를 통제하지 못하는 경우가 분명 있을 수 있습니다.<br />
    <br />
    우리의 신체, 생각, 행동은 서로 밀접하게 연관이 되어 영향을 줍니다.
  </div>

  <!-- 다이어그램 -->
  <smd-circle-diagram
    word1='신체감각'
    word2='생각<br /><span class="text-gray-500">(인지)</span>'
    word3='행동'
  ></smd-circle-diagram>


  <div class='mt-8'>
    불안과 공황에 그대로 잠식되는 것이 아니라 한 걸음 떨어져 관찰자가 되어봅시다. 막연한 두려움을 나의 생각과 행동, 감정으로 나누어 관찰해 보면서 어떤 상황에서 증상이 발생했다가 어떤 경과로 변화하는지 그 과정을 지켜봅니다.
    <br/><br />
    잊지 마세요. 공황발작은 시간이 지나면 사라집니다.<br />
    급격한 불안감과 공황이 일어난 이후에는 관찰한 내용을 공황일기에 꼭 기록해 봅시다. 관찰한 것을 구체적으로 적는 과정을 통해 공황에 대한 이해가 보다 높아지고, 이는 곧 통제하고 다스릴 수 있는 능력을 더해 줄 것입니다.
  </div>

</ion-grid>
