<ion-grid class='page flex flex-col'>
  <h1>필요한 경우 공황장애는
    <br />약물치료를 병행합니다</h1>
  <br />
    <div class='mt-6'>
    <ion-text>
      <span>
        정신과 약물이라고 하면 대부분 중독이 되고 뇌를 손상시키는 약이라고 오해하는 경우가 많습니다. 그러나  공황장애 환자에게  처방되는 “선택적 세로토닌 재흡수 억제제”는 중독이 되지 않는다고 알려져 있으며, 장기 복용으로 인하여 뇌를 손상시키는 약물은 더더욱 아닙니다. 그러므로 완치와 재발 방지를 위하여 적어도 12 ~ 18개월 정도 꾸준히 복용해야 합니다. 
      </span>
      <br /><br />
      <span>
        약물치료 중에 임의로 중단할 경우 약 50% 이상의 환자들에서 공황발작이 재발하는 것으로 알려져 있고, 약물 사용의 기간이 길수록 재발률이 낮습니다. 약물치료는 반드시 정신과 전문의의 처방과 지시에 따라야 합니다.
      </span>
      <br /><br />
      <span>
        그러나 궁극적으로는 약에 의존하지 않고도 공황발작과 불안을 다룰 수 있어야 합니다. 프로그램을 진행하면서 점차 공황발작과 불안에 대처할 수 있는 자신감과 능력을 얻게 되면, 의사의 조언에 따라 점진적인 감량 과정을 거쳐 약물치료를 완료할 수 있습니다.
      </span>
      <br /><br />
    </ion-text>
  </div>
</ion-grid>