<ion-grid class='page flex flex-col'>

  <div>
    내가 왜 불안한지 갑작스레 이 공황이 나타났는지 이유와 요인을 모른다면 더 당황스럽고, 원인을 모르는 채 더 불안할 수도 있습니다.<br />
    <br />
    다음에 불안과 공황에 상황에서는 그대로 잠식되는 것이 아니라 한 걸음 떨어져 막연한 두려움을 관찰하며 나의 두려움의 원인은 무엇일지 찾아봅시다.<br />
    <br />
    <span class='smd-underline'>
      객관적으로 관찰하여 요인을 발견하고 알게 되는 것만으로도 불안의 피해자가 아닌 관찰자가 되어볼 수 있습니다.<br />
    </span>
    <br />
    잊지 마세요. 급격한 불안과 공황발작은 시간이 지나면 사라집니다.<br />
    급격한 불안감과 공황이 일어난 이후에는 관찰한 내용을 공황일기에 꼭 기록해 봅시다. 관찰한 것을 구체적으로 적는 과정을 통해  보다 공황에 대한 이해가 높아지면 불안을 통제하고 다스릴 수 있는 능력을 더해 줄 것입니다.
  </div>
</ion-grid>
