<ion-grid class='page flex flex-col'>
  <h1>무엇이 공황을 일으키는가?</h1>

  <ion-row>
    <ion-text class='mt-6'>
      공황장애의 원인은 분명하지 않습니다. 하지만 원인에 고려해야 할 중요한 몇 가지 사항을 알아보겠습니다.
    </ion-text>
  </ion-row>

  <div class='panel mt-10 p-6'>
    <div class='title _1'>
      신체질환 때문에 공황장애가 일어난다고 말하기는 어렵습니다
    </div>

    <div class='inner-section'>
      갑상선기능항진증, 부신종양, 천식, 부정맥, 저혈당, 뇌전증, 심장판막의 문제 등 신체질환에서도 공황발작과 유사한 증상이 나타나기도 합니다. 그러나 공황발작이 신체질환이나 각성제의 다량 복용 등에 의해 직접적으로 나타난 경우에는 공황장애라고 진단하지 않으며, 대부분의 공황발작은 신체적 이상 때문에 발생하지 않습니다.
      <br /><br />
      그러나 이들 신체질환이 있는 경우 공황장애를 악화시킬 수 있으므로, 신체질환이 있는지 의학적 검사를 받아보는 것이 좋습니다.
    </div>
  </div>

  <div class='panel sky mt-5 p-6'>
    <div class='title _2'>
      생각하고 행동하는 방식 그 자체가 공황발작을 일으키는 것은 아닙니다
    </div>

    <div class='inner-section'>
      물론 인지적 과정, 즉 우리의 생각은 공황발작과 깊이 연관되어 있습니다. 하지만 생각 자체가 공황발작의 유일한 원인은 아닙니다. 앞으로 우리는 공황발작과 생각/행동의 관련성, 그리고 생각/행동과 신체증상의 상호작용에 대하여 배워갈 것입니다.
    </div>
  </div>

  <div class='panel mt-5 p-6'>
    <div class='title _3'>
      공황발작과 관련하여 우리가 꼭 알아야 할 점은 공황발작 그 자체는 정상적인 신체반응이라는 것입니다
    </div>

    <div class='inner-section'>
      문제가 되는 것은 두렵거나 흥분할 이유가 없는데도 부적절한 신체반응이 일어난다는 것입니다. 만일 두근거림이나 식은땀과 같은 신체반응이 강도를 만났다든지 아니면 차에 치일 뻔했다든지 하는 실제적인 위험상황에서 나타난다면 지극히 정상적이고 자연스러운 반응입니다.
    </div>
  </div>

  <div class='panel sky mt-5 p-6'>
    <div class='title _4'>
      특히 첫 번째 공황발작은 스트레스를 받고 있을 때 흔히 일어납니다
    </div>

    <div class='inner-section'>
      첫 번째 공황발작과 연관된 스트레스는 주로 대인관계에서의 스트레스거나 또는 신체적인 스트레스(예: 알레르기, 과음)라고 합니다. 한 가지 주목할 점은 나쁜 일에서만 아니라 좋은 일에서도 스트레스를 받을 수 있습니다.
    </div>
  </div>
</ion-grid>
