<ion-grid class='flex flex-col px-0'>
  <div class='text-center'>
    <span class='color-bg-primary text-white rounded-2xl py-1 px-2'>운동방법</span>
    <h1 class='mt-4'>
      {{ context.program6.course3.step1answer?.name }}
    </h1>
  </div>

  <img class='mt-4' src='assets/img/relax_woman_wide.png' />

  <div class='page'>
    <div class='mt-6 mb-6'>
      <ng-container *ngIf='context.program6.course3.step1answer?.name == "빨대로 숨쉬기"'>
        소파나 의자가 있는 조용한 장소에서 훈련하세요.
        <br /><br />
        가는 빨대를 입에 물고, 한 손으로는 코를 쥐고  1분 동안 숨 쉬세요.  비현실감, 숨 가쁨, 어지러움, 저린 느낌 등을 경험하세요.
        <br /><br />
        가능한 비현실감, 숨 가쁨, 어지러움, 저린 느낌 등을 나의 공황 증상과 비슷하게 경험하는 것이 중요합니다.
        <br /><br />
        훈련 시간을 기록할 수 있습니다. 지속적으로 훈련의 강도를 높여가며 진행해 주세요.
        <br />
        훈련 중 너무 힘들면 잠시 쉬었다가 다시 시작할 수 있습니다.
        <br /><br />
        충분히 증상을 경험한 후 자리에 앉아 쉬면서 나의 신체 반응을 관찰합니다.
        <br /><br />
        노출이 끝난 후 이완훈련시간에 배운 방법을 적용하면서 몸을 최대한 이완시키세요.
        <br /><br />
        훈련 준비가 되었으면 다음을 눌러 주세요.
      </ng-container>

      <ng-container *ngIf='context.program6.course3.step1answer?.name == "회전하기"'>
        주변에 위험한 물건이 없는 장소에서 훈련하세요.
        <br /><br />
        제자리에서 어지럽다고 느껴질 정도로 빠르게 돕니다. 회전의자를 이용해도 좋습니다.
        <br /><br />
        가능한 어지러운 정도가 나의 공황증상과 비슷하게  어지러움이나 구역감을 경험하는 것이 필요합니다.
        <br /><br />
        훈련 시간을 기록할 수 있습니다. 지속적으로 훈련의 강도를 높여가며 진행해 주세요.<br />
        훈련 중 너무 힘들면 잠시 쉬었다가 다시 시작할 수 있습니다.
        <br /><br />
        충분히 증상을 경험한 후 자리에 앉아 쉬면서 나의 신체 반응을 관찰합니다.
        <br /><br />
        노출이 끝난 후 이완훈련시간에 배운 방법을 적용하면서 몸을 최대한 이완시키세요.
        <br /><br />
        훈련준비가 되었으면 다음을 눌러 주세요.
      </ng-container>

      <ng-container *ngIf='context.program6.course3.step1answer?.name == "제자리 뛰기"'>
        무릎을 가능한 높이 올리면서 제자리 뛰기를 합니다.
        <br /><br />
        운동강도는 심장박동이 빨라지고 호흡이 가빠질 정도로 합니다.  이때 가능한 나의 공황 증상과 비슷하게 경험하는 것이 중요합니다.
        <br /><br />
        훈련 시간을 기록할 수 있습니다. 지속적으로 훈련의 강도를 높여가며 진행해 주세요.<br />
        훈련 중 너무 힘들면 잠시 쉬었다가 다시 시작할 수 있습니다.
        <br /><br />
        충분히 증상을 경험한 후 자리에 앉아 쉬면서 나의 신체 반응을 관찰합니다.
        <br /><br />
        노출이  끝난 후 이완훈련시간에 배운 방법을 적용하면서 몸을 최대한 이완시키세요.
        <br /><br />
        훈련준비가 되었으면 다음을 눌러 주세요.
      </ng-container>

      <ng-container *ngIf='context.program6.course3.step1answer?.name == "머리 숙였다 들기"'>
        우선 편안한 자세로 의자에 앉습니다. 그리고 양다리 사이로 머리를 10-20초간 숙이고 있다가 갑자기 머리를 들고 바른 자세로 앉습니다. 이 운동의 목적은 아찔한 느낌, 머리나 얼굴로 피가 쏠리는 느낌을 유발하는 것입니다.
        <br /><br />
        시작을 눌러 위와 같이 훈련을 진행해 주세요.
        운동의 강도는 심장박동이 빨라지고 호흡이 가빠질 정도로 합니다.  나의 공황 증상과 유사하게 만드는 것이 중요합니다.
        <br /><br />
        훈련 시간을 기록할 수 있습니다. 지속적으로 훈련의 강도를 높여가며 진행해 주세요.<br />
        훈련 중 너무 힘들면 잠시 쉬었다가 다시 시작할 수 있습니다.
        <br /><br />
        충분히 증상을 경험한 후 자리에 앉아 쉬면서 나의 신체 반응을 관찰합니다.
        <br /><br />
        노출이  끝난 후 이완훈련시간에 배운 방법을 적용하면서 몸을 최대한 이완시키세요.
        <br /><br />
        훈련준비가 되었으면 다음을 눌러 주세요.
      </ng-container>

      <ng-container *ngIf='context.program6.course3.step1answer?.name == "머리 흔들기"'>
        주변에 위험한 물건이 없는 장소에서 훈련하세요.
        <br /><br />
        제자리에서 어지럽다고 느껴질 정도로 머리를 좌우로 빨리 흔들어 보세요(30초이상을 권장합니다).
        <br /><br />
        가능한 어지러운 정도가 나의 공항 증상과 비슷하게 어지러움이나 구역질을 경험하는 것이 필요합니다.
        <br /><br />
        훈련 시간을 기록할 수 있습니다. 지속적으로 훈련의 강도를 높여가며 진행해 주세요.<br />
        훈련 중 너무 힘들면 잠시 쉬었다가 다시 시작할 수 있습니다.
        <br /><br />
        충분히 증상을 경험한 후 자리에 앉아 쉬면서 나의 신체 반응을 관찰합니다.
        <br /><br />
        노출이  끝난 후 이완훈련시간에 배운 방법을 적용하면서 몸을 최대한 이완시키세요.
        <br /><br />
        훈련준비가 되었으면 다음을 눌러 주세요.
      </ng-container>
    </div>
  </div>
</ion-grid>
