<ion-grid class='page flex flex-col'>
  <h1>일상활동 노출훈련</h1>

  <ion-row class='mt-4'>
    <ion-text>
      우리는 지난주에 공황과 유사한 증상을 유발하는 몇 가지 운동을 통해 신체감각에 노출하는 훈련을 했습니다. 두려워하는 감각을 피하기만 한다면 그 감각이 해롭지 않다는 것을 배울 기회가 없을 것입니다. 처음 자전거를 배울 때 넘어질 것 같지만, 연습을 반복할수록 자전거 바퀴를 조절하는 방법을 배우고 익숙해지는 것과 같습니다. 몇몇 신체감각은 공황을 유발할 것처럼 무섭지만 반복적으로 직면할수록, 두려워하던 일은 실제로 벌어지지 않는다는 것을 몸으로 익힐 수 있습니다.
    </ion-text>
  </ion-row>

  <smd-card class='mt-6'>
    <div class='flex flex-col'>
      <p>
        <span class='color-primary-dark'>프로그램 3</span> &nbsp;이완훈련을 통한 신체감각 다스리기
      </p>
      <p>
        <span class='color-primary-dark'>프로그램 4, 5</span> &nbsp;두려운 생각 다스리기
      </p>
      <p>
        <span class='color-primary-dark'>프로그램 6, 7</span> &nbsp;회피행동 다스리기
      </p>
    </div>
  </smd-card>

  <ion-row class='mt-4'>
    <ion-text>
      이번 주에는 일상생활에서 회피했던 활동을 검토하고 다시 직면하는 연습을 하겠습니다. 서툴다고 자전거 배우기를 중단한다면 자전거는 두려움의 대상으로 남아있을 것입니다. 두려워하는 일상생활의 활동을 피하기만 한다면 역시 그 두려움을 극복하기 어려울 것입니다. 증상에 대한 두려움을 극복하는 가장 좋은 방법은 직접 노출하여 직면하는 것입니다.
    </ion-text>
  </ion-row>
</ion-grid>
