<ion-grid class='page flex flex-col'>
  <div>
    일상생활에서 공황증상을 갑자기 느끼고, 공포스러울 때는 다음과 같이 대처해 봅시다.
  </div>

  <img class='mt-4' src='assets/img/placeholder.svg' />

  <p class='mt-6 text-center'>
    치료가 완료 되더라도<br />
    공황발작이 다시 삶에 나타날 수 있습니다.<br />
    <br />
    어느 순간 다시 공황발작이 생기더라도,<br />
    이 공포스러운 느낌은 곧  지나갈 것이라고 생각하세요.<br />
    <br />
    항상 그래 왔듯이 공황발작은 10분 내로 최고치에 이르고 그 후 저절로 사라집니다.<br />
    <br />
    재발은 치료 실패가 아니라 치료의 한 과정입니다. 한 번 증상이 감소했던 분들은 다음에도 호전될 가능성이 더 높습니다.
  </p>
</ion-grid>
