<ion-grid class='page flex flex-col'>

  <h1>
    같은 사건에도 <span class='smd-underline'>다양한 해석</span>이<br />
    있을 수 있습니다.
  </h1>

  <div class='text-gray-500 mt-3'>
    똑같이 공황발작이 찾아와도, 어떻게<br />
    생각하느냐에 따라 내 감정과 행동이 달라집니다.
  </div>

  <div class='flex flex-row justify-center items-center border-slate-100 mt-4 pb-12'>

    <svg xmlns='http://www.w3.org/2000/svg' width='320' height='320' viewBox='0 0 320 320'>
      <circle id='타원_1586' data-name='타원 1586' cx='160' cy='160' r='160' fill='#f2f1f1'/>
    </svg>

    <div class='pie-text'>
      호흡이 점점 가빠져<br />결국 숨이 막혀 죽을거야.
    </div>

  </div>

  <hr />

  <div class='text-blue-600 mt-4 mb-8'>
    갑자기 심장이 두근거릴 때, 어떤 생각이 들었나요? 심장박동이 빨라져 결국 심장이 고장 나 버릴 거라는 극단적인 생각이 들었나요?
  </div>

</ion-grid>
