<smd-header1 title='공황평가(APPQ)' back='/pdss-questionnaire-step7'></smd-header1>

<ion-content>
  <ion-grid class='page grow'>
    <ion-row class='mt-10'>
      <h1>공황평가(APPQ)</h1>
    </ion-row>
    <ion-row>
      <ion-text>다음은 “두려움을 느낄 수 있는 상황들”입니다.</ion-text>
    </ion-row>

    <div class='panel mt-10'>
      다음의 상황들이 실제로 다음 주에 일어날 것이라고 상상해 보세요.
    </div>

    <div class='panel mt-5'>
      다음 상황을 실제로 경험할 경우, 얼마나 두려울지를 “0(전혀 두렵지 않다)” ~ “8(극도로 두려울 것이다)”까지 숫자를 선택해주세요.
    </div>

  </ion-grid>

</ion-content>

<smd-program-footer text='시작' (next)='next()'>
</smd-program-footer>
