<ion-grid class='page flex flex-col'>
  <h1>
    신체 반응에 대한<br />
    나의 두려움 직면하기
  </h1>
  <div class='mt-6'>
    공황과 비슷한 증상을 느낀 후 나의 감정과 행동을 살펴봅니다.
    <br /><br />
    증상에 대하여 보다 합리적으로 생각하도록 하며, 배웠던 호흡법으로 충분히 나의 몸을 이완시킵니다.
  </div>

  <smd-tip-box text='' class='absolute smd-mr bottom-32 fill-available'>
    훈련 진행 전 의자, 쇼파를 준비해 두는 것이 좋습니다.
  </smd-tip-box>
  <smd-tip-box text='' class='absolute smd-mr bottom-4 fill-available'>
    내가 평소에 겪는 공황증상과 비슷한 상태를 경험하는 것이 중요합니다.
  </smd-tip-box>
</ion-grid>
