<ion-grid class='page flex flex-col'>
  <h1>생각, 감정과 행동</h1>
  <br />
  <ion-row>
    <span>
      <ion-text>
        <div class='mt-6 mb-6'>
          어떤 사건에 대한 우리의 생각과 감정, 행동, 신체증상들은 서로에게 영향을 미칩니다.
        </div>
      </ion-text>

      <!-- 다이어그램 -->
      <smd-circle-diagram
        word1='신체감각'
        word2='생각<br /><span class="text-gray-500">(인지)</span>'
        word3='행동'
      ></smd-circle-diagram>

      <ion-text>
        <div class='mt-6'>
          예를 들어 운전하다가 심장박동이 빨라지는 신체증상은  ‘이러다 죽을지도 몰라’라는 생각으로 이어져서 두려움을 일으키고 심장박동을 더 빠르게 할 것입니다.
          <br /><br />
          이러한 상황을 즉각적으로 벗어나기 위해 회피행동을 하게 되며, 회피행동은 신체증상이 위험한 것이라는 믿음을 강하게 만듭니다. 이후 두근거림과 같은 신체증상이 발생했을 때, 이를 더 두렵다고 해석하고 더 큰 두려움을 느끼는 공황장애의 악순환의 고리를 형성합니다. 그 결과 공황증상이 더욱 심각해집니다.
          <br /><br />
        </div>
      </ion-text>
    </span>
  </ion-row>
</ion-grid>
