<ion-grid class='page flex flex-col'>
  <h1>훈련 이후 훈련 기록하여<br />훈련 완료하기</h1>

  <ion-row class='mt-4'>
    <ion-text>
      일상활동 노출훈련을 진행한 뒤 훈련기록을 남겨 훈련을 완료해 주세요.
      <br /><br />
      훈련 직후 기록을 남기면 더욱 정확한 기록을 남길 수 있습니다. 내가 마주한 공황과 불안을 객관적으로 관찰하여 기록하여 봅시다.
      <br /><br />
      각 단계의 훈련 후 공포치가 2이하인 경우에 다음 단계 훈련 진행을 추천합니다.
      <br /><br />
      그리고 훈련기록은 왼쪽 상단 메뉴 나의 훈련에서도 확인할 수 있습니다.
    </ion-text>
  </ion-row>

  <smd-tip-box text='' class='absolute smd-mr bottom-4 fill-available'>
    주 3회 이상 훈련기록을 작성하여야 일상활동 노출훈련이 완료됩니다.
  </smd-tip-box>
</ion-grid>
