<ion-grid class='page flex flex-col'>
  <h1>자동사고란</h1>
  <br />
  <ion-row>
    <span>
      <ion-text>
        <div>
          어떤 사건에 대한 느낌이나 감정을 결정하는 것은 그 상황 자체보다 그 상황을 해석하는 방식에 달려 있습니다. 예를 들면 똑같은 가슴 통증을 경험하더라도 신체감각에 대해 어떻게 생각하는지에 따라 두려움의 정도가 다를 수 있습니다. 즉, 어떤 사건에 의해 일어나는 감정이나 행동은 자신만이 갖고 있는 생각과 이미지에 의해 크게 영향을 받습니다. 
        </div>
      </ion-text>
      <div class='mt-6'>
        <smd-card>
          <div class='flex flex-col mt-4'>
            <span style='text-align: center;'><b>사건 + 사건에 대한 생각 = 감정&행동</b></span>
            <br />
          </div>
          <svg xmlns="http://www.w3.org/2000/svg" width="285" height="218" viewBox="-25 0 310 218">
            <g id="그룹_54460" data-name="그룹 54460" transform="translate(-45 -395)">
              <g id="그룹_54459" data-name="그룹 54459" transform="translate(0 -15)">
                <rect id="사각형_20520" data-name="사각형 20520" width="82" height="36" rx="5" transform="translate(147 410)" fill="#ffe8b1"/>
                <text id="사건" transform="translate(177 433.053)" font-size="13" font-family="Pretendard-Medium, Pretendard" font-weight="500"><tspan x="0" y="0">사건</tspan></text>
              </g>
              <g id="그룹_54454" data-name="그룹 54454" transform="translate(-3 22)">
                <rect id="사각형_20520-2" data-name="사각형 20520" width="82" height="36" rx="5" transform="translate(48 454)" fill="#dde7ef"/>
                <text id="생각" transform="translate(78 477.053)" font-size="13" font-family="Pretendard-Medium, Pretendard" font-weight="500"><tspan x="0" y="0">생각</tspan></text>
              </g>
              <g id="그룹_54455" data-name="그룹 54455" transform="translate(-15 22)">
                <rect id="사각형_20520-3" data-name="사각형 20520" width="82" height="36" rx="5" transform="translate(263 454)" fill="#ffd1da"/>
                <text id="감정_행동" data-name="감정 &amp; 행동" transform="translate(275 477.053)" font-size="13" font-family="Pretendard-Medium, Pretendard" font-weight="500"><tspan x="0" y="0">감정 &amp; 행동</tspan></text>
              </g>
              <text id="가슴통증" transform="translate(165 454)" fill="#ffa200" font-size="13" font-family="Pretendard-Medium, Pretendard" font-weight="500"><tspan x="0" y="0">가슴통증</tspan></text>
              <text id="심장마비의_신호" data-name="심장마비의 신호" transform="translate(45 535)" fill="#3f7097" font-size="13" font-family="Pretendard-Medium, Pretendard" font-weight="500"><tspan x="0" y="0">심장마비의 신호</tspan></text>
              <text id="소화불량의_신호" data-name="소화불량의 신호" transform="translate(45 560)" fill="#3f7097" font-size="13" font-family="Pretendard-Medium, Pretendard" font-weight="500"><tspan x="0" y="0">소화불량의 신호</tspan></text>
              <text id="근육통의_신호" data-name="근육통의 신호" transform="translate(51 585)" fill="#3f7097" font-size="13" font-family="Pretendard-Medium, Pretendard" font-weight="500"><tspan x="0" y="0">근육통의 신호</tspan></text>
              <text id="암의_신호" data-name="암의 신호" transform="translate(62 610)" fill="#3f7097" font-size="13" font-family="Pretendard-Medium, Pretendard" font-weight="500"><tspan x="0" y="0">암의 신호</tspan></text>
              <text id="불안_공황" data-name="불안 &amp; 공황" transform="translate(260 535)" fill="#ff456b" font-size="13" font-family="Pretendard-Medium, Pretendard" font-weight="500"><tspan x="0" y="0">불안 &amp; 공황</tspan></text>
              <text id="비공황" transform="translate(272 560)" fill="#ff456b" font-size="13" font-family="Pretendard-Medium, Pretendard" font-weight="500"><tspan x="0" y="0">비공황</tspan></text>
              <text id="비공황-2" data-name="비공황" transform="translate(272 585)" fill="#ff456b" font-size="13" font-family="Pretendard-Medium, Pretendard" font-weight="500"><tspan x="0" y="0">비공황</tspan></text>
              <text id="불안_공황-2" data-name="불안 &amp; 공황" transform="translate(260 610)" fill="#ff456b" font-size="13" font-family="Pretendard-Medium, Pretendard" font-weight="500"><tspan x="0" y="0">불안 &amp; 공황</tspan></text>
              <g id="그룹_54374" data-name="그룹 54374" transform="translate(146.999 531)" opacity="0.2">
                <path id="패스_34354" data-name="패스 34354" d="M-15508.415-698.158h80" transform="translate(15508.414 698.158)" fill="none" stroke="#000" stroke-width="1" stroke-dasharray="2 2"/>
              </g>
              <g id="그룹_55383" data-name="그룹 55383" transform="translate(146.999 556)" opacity="0.2">
                <path id="패스_34354-2" data-name="패스 34354" d="M-15508.416-698.158h80" transform="translate(15508.415 698.158)" fill="none" stroke="#000" stroke-width="1" stroke-dasharray="2 2"/>
              </g>
              <g id="그룹_55384" data-name="그룹 55384" transform="translate(146.999 580)" opacity="0.2">
                <path id="패스_34354-3" data-name="패스 34354" d="M-15508.414-698.158h80" transform="translate(15508.414 698.158)" fill="none" stroke="#000" stroke-width="1" stroke-dasharray="2 2"/>
              </g>
              <g id="그룹_55385" data-name="그룹 55385" transform="translate(147.001 605)" opacity="0.2">
                <path id="패스_34354-4" data-name="패스 34354" d="M-15508.416-698.158h80" transform="translate(15508.416 698.158)" fill="none" stroke="#000" stroke-width="1" stroke-dasharray="2 2"/>
              </g>
              <g id="그룹_55386" data-name="그룹 55386" transform="translate(-96.342 24.631) rotate(-13)" opacity="0.3">
                <g id="그룹_54365" data-name="그룹 54365" transform="translate(117.725 470.077) rotate(48)">
                  <path id="패스_34353" data-name="패스 34353" d="M0,6,3.044,3,0,0" transform="translate(6 0) rotate(90)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                </g>
                <path id="패스_34354-5" data-name="패스 34354" d="M0,0H30" transform="translate(139.717 454.311) rotate(138)" fill="none" stroke="#000" stroke-width="1"/>
              </g>
              <g id="그룹_55387" data-name="그룹 55387" transform="translate(147 493)" opacity="0.3">
                <g id="그룹_54365-2" data-name="그룹 54365" transform="translate(80.937 0) rotate(90)">
                  <path id="패스_34353-2" data-name="패스 34353" d="M0,0,3.044,3,0,6" transform="translate(0 3.044) rotate(-90)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                </g>
                <path id="패스_34354-6" data-name="패스 34354" d="M-15508.416-698.158h81" transform="translate(15508.415 701.158)" fill="none" stroke="#000" stroke-width="1"/>
              </g>
              <g id="그룹_55388" data-name="그룹 55388" transform="translate(227.938 528) rotate(90)" opacity="0.2">
                <path id="패스_34353-3" data-name="패스 34353" d="M0,0,3.044,3,0,6" transform="translate(0 3.044) rotate(-90)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
              </g>
              <g id="그룹_55389" data-name="그룹 55389" transform="translate(227.938 553) rotate(90)" opacity="0.2">
                <path id="패스_34353-4" data-name="패스 34353" d="M0,0,3.044,3,0,6" transform="translate(0 3.044) rotate(-90)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
              </g>
              <g id="그룹_55390" data-name="그룹 55390" transform="translate(227.938 577) rotate(90)" opacity="0.2">
                <path id="패스_34353-5" data-name="패스 34353" d="M0,0,3.044,3,0,6" transform="translate(0 3.044) rotate(-90)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
              </g>
              <g id="그룹_55391" data-name="그룹 55391" transform="translate(227.938 602) rotate(90)" opacity="0.2">
                <path id="패스_34353-6" data-name="패스 34353" d="M0,0,3.044,3,0,6" transform="translate(0 3.044) rotate(-90)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
              </g>
            </g>
          </svg>
          
          
        </smd-card>
      </div>
      
      <ion-text>
        <div class='mt-6'>
          하지만, 이 생각은 순식간에 지나가기 때문에 의식적으로 신경 쓰지 않으면 인지하지 못하고 지나치기 쉽습니다. 이 중간 과정의 생각을 <span class='smd-underline'><b>자동사고</b></span>라고 합니다. 
          <br /><br />
          사람들이 생각을 자주 하면 할수록 그 생각은 자동화되는 경향이 있습니다. 예를 들어 공황이 심장마비를 일으킬 수 있다고 반복적으로 생각해온 사람은 자신이 무슨 생각을 하는지 의식하기도 전에 그 생각이 자동적으로 떠오릅니다. 그리고 이는 공황발작으로 이어지게 됩니다. 
          <br /><br />
        </div>
      </ion-text>
    </span>
  </ion-row>
</ion-grid>