<ion-grid class='page flex flex-col'>
  <h1>두려운 생각</h1>
  <br />
  <ion-row>
    <span>
      <ion-text>
        <div>
          부정적 감정은 부정적 생각을 유발하기도 합니다. 즉, 두려울수록 두려운 생각을 더 하게 되는 것이지요. 편안할 때는 공황으로 인해 죽지 않는다는 것을 알지만, 공황을 경험하는 순간에는 반드시 큰일이 일어날 것 같다고 생각합니다.
        </div>
      </ion-text>
      <div class='mt-6'>
        <smd-card>
          <div class='mt-2' style='text-align: center;'>사건 + 부정적 감정 = 사건에 대한 부정적 생각</div>
          <div class='flex flex-col mt-6'>
            <svg xmlns="http://www.w3.org/2000/svg" width="285" height="164" viewBox="0 0 285 164">
              <g id="그룹_55451" data-name="그룹 55451" transform="translate(-45 -420)">
                <g id="그룹_54460" data-name="그룹 54460" transform="translate(0 10)">
                  <g id="그룹_54459" data-name="그룹 54459" transform="translate(-102 86)">
                    <rect id="사각형_20520" data-name="사각형 20520" width="82" height="36" rx="5" transform="translate(147 410)" fill="#ffe8b1"/>
                    <text id="사건" transform="translate(177 433.053)" font-size="13" font-family="Pretendard-Medium, Pretendard" font-weight="500"><tspan x="0" y="0">사건</tspan></text>
                  </g>
                  <g id="그룹_54454" data-name="그룹 54454" transform="translate(200 42)">
                    <rect id="사각형_20520-2" data-name="사각형 20520" width="82" height="36" rx="5" transform="translate(48 454)" fill="#dde7ef"/>
                    <text id="생각" transform="translate(78 477.053)" font-size="13" font-family="Pretendard-Medium, Pretendard" font-weight="500"><tspan x="0" y="0">생각</tspan></text>
                  </g>
                  <text id="가슴통증" transform="translate(63 555)" fill="#ffa200" font-size="13" font-family="Pretendard-Medium, Pretendard" font-weight="500"><tspan x="0" y="0">가슴통증</tspan></text>
                  <text id="심장마비의_신호_암의신호" data-name="심장마비의 신호
            / 암의신호" transform="translate(289 555)" fill="#3f7097" font-size="13" font-family="Pretendard-Medium, Pretendard" font-weight="500"><tspan x="-40.898" y="0">심장마비의 신호</tspan><tspan x="-26.299" y="16">/ 암의신호</tspan></text>
                  <g id="그룹_54465" data-name="그룹 54465" transform="translate(-116 -44)">
                    <rect id="사각형_20520-3" data-name="사각형 20520" width="82" height="36" rx="5" transform="translate(263 454)" fill="#ffd1da"/>
                    <text id="감정_행동" data-name="감정&amp;행동" transform="translate(278 477.053)" font-size="13" font-family="Pretendard-Medium, Pretendard" font-weight="500"><tspan x="0" y="0">감정&amp;행동</tspan></text>
                  </g>
                  <text id="불안함" transform="translate(171 469)" fill="#ff456b" font-size="13" font-family="Pretendard-Medium, Pretendard" font-weight="500"><tspan x="0" y="0">불안함</tspan></text>
                  <g id="그룹_54466" data-name="그룹 54466" transform="translate(147 510)" opacity="0.3">
                    <g id="그룹_54365" data-name="그룹 54365" transform="translate(80.937 0) rotate(90)">
                      <path id="패스_34353" data-name="패스 34353" d="M0,0,3.044,3,0,6" transform="translate(0 3.044) rotate(-90)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                    </g>
                    <path id="패스_34354" data-name="패스 34354" d="M-15508.416-698.158h81" transform="translate(15508.415 701.158)" fill="none" stroke="#000" stroke-width="1"/>
                  </g>
                </g>
                <g id="그룹_55386" data-name="그룹 55386" transform="translate(-97.342 55.188) rotate(-13)" opacity="0.3">
                  <g id="그룹_54365-2" data-name="그룹 54365" transform="translate(117.725 470.077) rotate(48)">
                    <path id="패스_34353-2" data-name="패스 34353" d="M0,6,3.044,3,0,0" transform="translate(6 0) rotate(90)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                  </g>
                  <path id="패스_34354-2" data-name="패스 34354" d="M0,0H30" transform="translate(139.717 454.311) rotate(138)" fill="none" stroke="#000" stroke-width="1"/>
                </g>
              </g>
            </svg>            
          </div>
        </smd-card>
      </div>

      <div class='mt-4'>
        <smd-card>
          <div class='mt-2' style='text-align: center;'>사건 + 일반적 감정 = 사건에 대한 일반적 생각</div>
          <div class='mt-6' style='text-align: center;'>
            <svg xmlns="http://www.w3.org/2000/svg" width="310" height="164" viewBox="0 0 285 164">
              <g id="그룹_55450" data-name="그룹 55450" transform="translate(-45 -420)">
                <g id="그룹_54460" data-name="그룹 54460" transform="translate(0 10)">
                  <g id="그룹_54459" data-name="그룹 54459" transform="translate(-102 86)">
                    <rect id="사각형_20520" data-name="사각형 20520" width="82" height="36" rx="5" transform="translate(147 410)" fill="#ffe8b1"/>
                    <text id="사건" transform="translate(177 433.053)" font-size="13" font-family="Pretendard-Medium, Pretendard" font-weight="500"><tspan x="0" y="0">사건</tspan></text>
                  </g>
                  <g id="그룹_54454" data-name="그룹 54454" transform="translate(200 42)">
                    <rect id="사각형_20520-2" data-name="사각형 20520" width="82" height="36" rx="5" transform="translate(48 454)" fill="#dde7ef"/>
                    <text id="생각" transform="translate(78 477.053)" font-size="13" font-family="Pretendard-Medium, Pretendard" font-weight="500"><tspan x="0" y="0">생각</tspan></text>
                  </g>
                  <text id="가슴통증" transform="translate(63 555)" fill="#ffa200" font-size="13" font-family="Pretendard-Medium, Pretendard" font-weight="500"><tspan x="0" y="0">가슴통증</tspan></text>
                  <text id="소화불량의_신호_근육통의_신호" data-name="소화불량의 신호
            / 근육통의 신호" transform="translate(289 555)" fill="#3f7097" font-size="13" font-family="Pretendard-Medium, Pretendard" font-weight="500"><tspan x="-40.898" y="0">소화불량의 신호</tspan><tspan x="-39.117" y="16">/ 근육통의 신호</tspan></text>
                  <g id="그룹_54465" data-name="그룹 54465" transform="translate(-116 -44)">
                    <rect id="사각형_20520-3" data-name="사각형 20520" width="82" height="36" rx="5" transform="translate(263 454)" fill="#ffd1da"/>
                    <text id="감정_행동" data-name="감정&amp;행동" transform="translate(278 477.053)" font-size="13" font-family="Pretendard-Medium, Pretendard" font-weight="500"><tspan x="0" y="0">감정&amp;행동</tspan></text>
                  </g>
                  <text id="불안하지_않음" data-name="불안하지 않음" transform="translate(152 469)" fill="#ff456b" font-size="13" font-family="Pretendard-Medium, Pretendard" font-weight="500"><tspan x="0" y="0">불안하지 않음</tspan></text>
                  <g id="그룹_54466" data-name="그룹 54466" transform="translate(147 510)" opacity="0.3">
                    <g id="그룹_54365" data-name="그룹 54365" transform="translate(80.937 0) rotate(90)">
                      <path id="패스_34353" data-name="패스 34353" d="M0,0,3.044,3,0,6" transform="translate(0 3.044) rotate(-90)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                    </g>
                    <path id="패스_34354" data-name="패스 34354" d="M-15508.416-698.158h81" transform="translate(15508.415 701.158)" fill="none" stroke="#000" stroke-width="1"/>
                  </g>
                </g>
                <g id="그룹_55392" data-name="그룹 55392" transform="translate(-97.342 50.188) rotate(-13)" opacity="0.3">
                  <g id="그룹_54365-2" data-name="그룹 54365" transform="translate(117.725 470.077) rotate(48)">
                    <path id="패스_34353-2" data-name="패스 34353" d="M0,6,3.044,3,0,0" transform="translate(6 0) rotate(90)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                  </g>
                  <path id="패스_34354-2" data-name="패스 34354" d="M0,0H30" transform="translate(139.717 454.311) rotate(138)" fill="none" stroke="#000" stroke-width="1"/>
                </g>
              </g>
            </svg>
          </div>
        </smd-card>
      </div>
      <div class='mt-10'>
        공황과 불안은 두려운 생각을 낳고, 두려운 생각은 공황과 불안을 유발합니다. 
        <br /><br />
        중요한 것은, 두려운 생각에 사로잡힌다고 해서 그런 일이 실제로는 일어나지 않는다는 것을 잊지마세요.
        <br /><br />
      </div>
    </span>
  </ion-row>
</ion-grid>