<smd-header1 title='공황평가(PDSS)' back='/pdss-questionnaire-step7'></smd-header1>

<ion-content>
  <ion-grid class='page grow'>
    <h2 class='mt-8 mb-8'>
      지난 주에 공황발작이 올 것 같은 공포 때문에 어떤 장소나 상황(대중교통, 극장, 군중 속, 터널, 다리, 쇼핑몰, 혼자 있을 때 등)을 회피했거나, 두려워 피하고 싶은 적이 있나요?<br />
      만약 어느 한 경우라도 그렇다면 그 공포와 회피의 정도를 평가해주세요.
    </h2>

    <smd-item-list [items]='items' [(selection)]='selection' [divider]='true' [marginSize]='4' [innerMarginSize]='4'>
    </smd-item-list>

  </ion-grid>
</ion-content>

<smd-program-footer text='다음 (8/11)' (next)='next()' [disabled]='!valid'>
</smd-program-footer>
