<ion-grid class='page flex flex-col'>
  <h1>공황과 불안</h1>
  <ion-row>
    <br />
    <ion-text class='mt-6'>
      <span>
        <smd-circle-diagram
          word1='신체감각'
          word2='생각<br /><span class="text-gray-500">(인지)</span>'
          word3='행동'
        ></smd-circle-diagram>
        <div class='mt-10'>
          지금까지 공황과 불안을 신체감각, 사고, 행동 요소에 따라
          배워보았습니다. 이 세 가지는 서로에게 영향을 주며 공황과 불안에 중요한
          역할을 합니다. 명확히 알아야 할 것은 개인의 정도의 차이가 있을 뿐
          신체감각, 생각, 행동은 지극히 정상적인 반응입니다.
        </div>
        <br />
        <div>
          세 가지 요소를 제대로 알고 조절할 수 있다면 공황과 불안으로부터
          자유로워질 수 있습니다. 본인의 증상을 신체적 감각, 생각, 행동을 통해
          객관적으로 바라보세요. 불안을 인정하고 이해하는 것에서부터 치료는 이미
          시작되었습니다.
        </div>
      </span>
    </ion-text>
  </ion-row>
</ion-grid>
