<ion-grid class='page flex flex-col'>
  <h1>공황의 행동<br /></h1>
  <ion-row>
    <ion-text class='mt-6'>
      <span>
        위급 상황일 때 적을 공격하거나 혹은 도망가기 위해 준비합니다. 따라서 이런 반응이 일어날 때, 
        <span class='smd-underline'>회피하고자 하는 강렬한 욕구</span>가 일어나는 것은 당연합니다.
      </span>
      <br /><br />
      <span>
        “여기서 벗어나야 한다”라고 생각할 수 있습니다. 하지만 여러 가지 이유로 
        <span class='smd-underline'>회피하기가 어렵거나 불가능할 때는 
        그 욕구가 더 강해지고, 그 결과 발을 동동거리거나 사방을 두리번거리는 등 안절부절못하는 행동을 하게 됩니다. 
        </span>
      </span>
      <br /><br />
    </ion-text>
  </ion-row>
</ion-grid>
