<ion-grid class='page flex flex-col'>
  <h1>공황의 신체감각</h1>
  
  <ion-row class='mt-6'>
    <img src='assets/img/placeholder.svg' />
  </ion-row>

  <ion-row>
    <ion-text class='mt-6'>
      <h1>왜 식은땀이 나고 멀미가 나나요?<br /></h1>
      <br />
      <span>
        응급 반응 시에는 땀을 많이 흘리게 됩니다. 땀을 흘리는 것은 신체를 시원하게 하고, 피부를 미끄럽게 하여 적이 나를 붙잡기 어렵게 하는 기능을 합니다.
      </span>
      <br /><br />
      <span>
        위급 상황에서 소화 기능은 중요하지 않으므로 위장 기능이 저하되어 메스꺼움, 거북함, 변비 등도 나타나고 타액이 감소하여 입이 마르기도 합니다. 많은 근육조직이 긴장, 수축하여 긴장감을 초래하고, 그 때문에 통증과 떨림을 느끼기도 합니다. 동공을 확장시켜 시야를 넓히고 외부의 적을 보다 더 잘 볼 수 있도록 하는데, 이 때문에 눈이 부시기도 합니다.
      </span>
      <br /><br />
      <span>
        대체로 응급 반응은 신체의 모든 대사 활동과 외부 환경에 대한 예민도를 증진시킵니다. 그리고 이런 전체적 과정에서 많은 양의 에너지가 소모되므로 피로를 느끼고 결국 탈진하게 됩니다.
      </span>
      <br /><br />
      <span>
        각성 체계의 활성화로 인해 여러 다른 효과들이 나타나지만, 그 어느 것도 해롭지 않습니다.
      </span>
    </ion-text>
  </ion-row>
</ion-grid>
