<ion-grid class='page flex flex-col'>
  <h1>공황기록 작성 1</h1>
  <br />
  <div class='mt-6'>
    <ion-text>
      <div>
        공황발작 기록에 대해 알아봅시다. 
        <br /><br />
        기록을 하면 공황의 횟수와 양상을 파악하며 공황과 공황에 대한 나의 마음을 객관적으로 살펴볼 수 있습니다. 공황발작이 일어난 경우 나의 공황에 대한 구체적인 내용을 입력하세요. 
      </div>
      <div class='mt-6'>
        “나중에 기록하겠다”, “저녁 때 기록하겠다”고 미루지 마세요. 나중에 기록하면 그만큼 정확도가 떨어집니다. “공황발작이다” 느끼는 바로 그 순간에 입력하는 것이 좋습니다. 물론 운전이나, 회의 도중에 입력하기는 어려울 것입니다. 바로 입력이 어려운 상황이더라도 공황 상태를 잘 관찰하고 기억하여 공황기록을 남겨주세요.
        <br /><br />
        나의 증상을 관찰하고 객관화하는 것이 치료에 큰 도움이 됩니다.
      </div>
    </ion-text>
  </div>
</ion-grid>