<ion-grid class='page flex flex-col'>

  <div>
    혹시, 좋아하는 가수가 있으신가요? 제일 좋아하는 가수의 단독 콘서트 맨 앞 좌석에 초대받았다고 상상해보세요.
  </div>
  <img class='mt-24 mb-8' src='assets/img/placeholder.svg' />

  <div class='mt-6'>
    당신은 꿈에 그리던 가수의 공연을 기다리며 즐거운 순간을 즐길 준비를 합니다. 어쩌면 좋아하는 가수와 대화를 할 수도 있겠다는 즐거운 상상도 해봅니다. 그런데, 옆으로 세 좌석 정도 떨어진 곳에 별로 보고 싶지 않은 지인이 있는 것을 발견합니다. 당신은 지인이 콘서트를 망칠까봐 속으로 전전긍긍하다 가수의 멋진 공연에 집중하지 못할 수도 있고, 심지어는 지인을 집에 돌아가라고 설득하거나 화를 내며 쫓아내고 싶은 마음이 들 수도 있습니다. 또 지인이 나를 발견하지 못하게 숨고 싶어질 수도 있습니다. 이 사람만 없으면 콘서트가 완벽해질 것만 같습니다. 그렇지만, 이미 콘서트장에 도착한 관객을 쫓아낼 수 있을까요?<br />
    그 대신 옆 자리에 누가 있건 말건 공연에 집중해보면 어떨까요? <span class='smd-underline'>원치 않는 상황을 통제하려고 애쓰는 대신 지금 이 순간의 공연을 즐기다 보면 옆에 누가 있었는지조차 잊어버릴 것입니다.</span>
  </div>

</ion-grid>
