<ion-grid class='page flex flex-col'>
  <h1>자동사고 찾기</h1>
  <br />
  <ion-row>
    <span>
      <ion-text>
        <div>
          특정 상황에서 자동으로 하게 되는 생각이 구체적으로 어떤 것인지, 그리고 어떤 일이 벌어질 것으로 예측하는지 꼼꼼히 확인해보세요.
        </div>
      </ion-text>
      
      <div class='panel mt-6'>
        <li >무엇을 두려워하고 있지?</li>
        <li class='mt-2'>만일 그렇게 되면 어떻게 될까?</li>
        <li class='mt-2'>만일 그렇게 된다면 그것은 무엇을 의미하나?</li>
      </div> 

      <ion-text>  
        <div class='mt-6'>
          <ion-text>
            어떠한 일을 겪고 ‘너무 무서웠다’라고만 뭉뚱그려 얘기한다면 자신이 자동으로 하게 되는 부정적인 생각에 대해 구체적으로 분석하기 어렵습니다. 이러한 막연한 느낌은 보다 큰 불안과 공포를 유발할 수도 있습니다.
            <br /><br />
            지난 시간까지 관찰했던 자신의 불안과 공황을 떠올려보세요. 불안과 공황이 일어나기 직전, 과정 중, 혹은 그 이후에 주로 든 생각은 무엇이었나요? 만약 “두려움을 느꼈다”, “불안했다”라고 기록했다면 그 때의 기억을 되살려보세요.
            <br /><br />
            왜 그렇게 끔찍한 느낌이 들었을까요? 어떤 일이 일어나리라고 예상했나요? 만약 공황발작이 다시 온다면 어떤 일이 벌어질 것 같다고 생각했나요? 통제력을 잃을 것 같은 느낌이 들었나요? 그 다음에는 무슨 일이 생길 것 같나요?
            <br /><br />
          </ion-text>
        </div>
      </ion-text>
    </span>
  </ion-row>
</ion-grid>