<smd-header1 title='공황평가(PDSS)' back='/patient-question'></smd-header1>

<ion-content class='page'>
  <ion-grid class='page grow'>
    <h1>공황평가(PDSS)</h1>

    <div class='mt-4'>
      다음의 질문들은<br />
      공황발작이나 공황증상과 관련된 것들입니다.
    </div>

    <div class='panel mt-6'>
      이 설문지에서 공황발작이란 다음에 열거된 증상들 중 4개 이상이 동반되는 갑작스러운 공포나 불편감을 말합니다.
    </div>
    <div class='panel mt-4'>
      갑작스럽게 일어난다는 것은 공황증상이 “10분 이내에 최고조”에 달하는 것을 의미합니다.
    </div>
    <div class='panel mt-4'>
      공황발작과 같은 증상은 있지만 3개 이하의 증상을 가질 경우는 공황증상이라고 합니다.
    </div>
  </ion-grid>
</ion-content>

<smd-program-footer text='시작' (next)='next()'>
</smd-program-footer>
