<ion-grid class='page flex flex-col'>
  <h1>
    운동방법을 선택하여<br />
    공황증상 느껴보기
  </h1>
  <div class='mt-6'>
    빨대로 숨쉬기, 회전하기, 제자리 뛰기, 머리 숙였다 들기, 머리 흔들기 5가지 방법 중 하나를 선택하세요.
    <br /><br />
    안내되는 방법으로 운동을 시작하세요.
    <br />
    공황과 비슷한 나의 신체증상을 느껴 보세요.
  </div>

  <smd-tip-box text='' class='absolute smd-mr bottom-32'>
    혼자 훈련하는 것이 더 좋지만, 많이 불안하다면 도움을 줄 수 있는 사람과 같이 해주세요.
  </smd-tip-box>
  <smd-tip-box text='' class='absolute smd-mr bottom-4'>
    공황과 비슷한 증상이 나타나지 않는다면,다른 운동방법을 선택해 주세요.
  </smd-tip-box>
</ion-grid>
