@import '../../../theme/variables';

.item {
  padding-top: 1rem;
  padding-bottom: 1rem;

  &:not(.divider) {
    border-width: 0;
  }
}

span {
  margin-left: 0.5rem;
  white-space: unset !important;

  &.name {
    font-size: 15px;
  }
  &.note {
    font-size: 12px;
    color: dimgray;
    font-weight: 400;
  }
}
