<ion-grid class='page flex flex-col'>
  <h2 class=''>
    일상생활에서 적용할 수 있는 장기적인 목표와 그에 따른 세부 계획을 세워 봅시다. 아래의 내용을 참고하여 본인의 계획을 직접 작성해보세요.
  </h2>
  <div class='panel mt-6'>
    장기 목표 설정하기 예시
    <li>회사/학교로 복귀하기</li>
    <li>새로운 사람 사귀기</li>
    <li>혼자 여행가기</li>
    <li>새로운 취미 갖기</li>
    <li>취업하기</li>
    <li>운전해보기</li>
  </div>

  <div class='mt-6'>
    장기 목표를 위한 세부 계획도 세워봅시다.
  </div>

  <div class='panel mt-6 sky'>
    직장에 복귀하기
    <li>회사에 연락하여 복직 신청하기</li>
    <li>복직 관련 서류 준비하고 주변에 알리기</li>
    <li>복직 후 업무계획 세우기</li>
  </div>

</ion-grid>
