<ion-grid class='page flex flex-col'>
  <h1>감정일기와<br />
    공황발작을 기록하면!
  </h1>
  <br />

  <div class='mt-6'>
    <div class='panel'>
      <b>스스로 통제를 하고 있다는 느낌을 가질 수 있습니다.</b>
      <div class='text-gray-500 mt-2'>
        자제력을 상실한 듯한 느낌은 공황을 객관적으로 생각해 보지 않고 감정적으로 다루기 때문에 발생하는 경우가 많습니다.
      </div>
    </div>
    <div class='panel sky mt-4'>
      <b>사건을 더 정확하게 기억할 수 있습니다.</b>
      <div class='text-gray-500 mt-2'>
        불안한 상태에서는 예전에 일어났던 사건을 실제보다 훨씬 더 두렵게 기억하는 경향이 있습니다.
      </div>
    </div>
    <div class='mt-4'>
      <div class='panel'>
        <b>공황이 일어나는 상황과 촉발 요인을 구체적으로 알 수 있습니다. </b>
        <div class='text-gray-500 mt-2'>
          혼자 있을 때, 직장에서 스트레스가 많은 날, 주말에 쉴 때, 낮 또는 밤과 같이 언제 어디서 어떻게 일어났는지를 알 수 있습니다.
        </div>
      </div>
      <div class='panel sky mt-4'>
        <b>성과를 평가하는 데 도움을 줍니다.</b>
        <div class='text-gray-500 mt-2'>
          불안하면 자신의 성과를 간과하고 두려운 감정에만 집중하기 쉽습니다.
        </div>
      </div>
      <div class='mt-4'>
        <p>
          계속하여 공황일기 작성법을 배운 뒤 나의 공황을 객관적으로 관찰하고 기록하여 공황을 통제하고 다스려보세요.
          <br /><br /><br />
        </p>
      </div>
    </div>
  </div>
  </ion-grid>
