<ion-grid class='page flex flex-col'>

  <h1>
    같은 사건에도 <span class='smd-underline'>다양한 해석</span>이<br />
    있을 수 있습니다.
  </h1>

  <div class='text-gray-500 mt-3'>
    똑같이 공황발작이 찾아와도, 어떻게<br />
    생각하느냐에 따라 내 감정과 행동이 달라집니다.
  </div>

  <div class='relative flex flex-row justify-center items-center border-slate-100 mt-4 pb-12'>

    <svg xmlns='http://www.w3.org/2000/svg' width='320' height='320' viewBox='0 0 320 320'>
      <path id='패스_35722' data-name='패스 35722' d='M160,0A160,160,0,1,1,0,160,160,160,0,0,1,160,0Z' fill='#f2f1f1'/>
      <g id='그룹_55373' data-name='그룹 55373' transform='translate(-28 -243.5)'>
        <path id='패스_35730' data-name='패스 35730' d='M93,93V253a159.5,159.5,0,0,0,113.137-46.863Z' transform='translate(95 310)' fill='#ddefe8' stroke='#49b578' stroke-linejoin='round' stroke-width='1'/>
      </g>
    </svg>

    <div class='pie-text mb-28'>
      호흡이 점점 가빠져<br />결국 숨이 막혀 죽을거야.
    </div>
    <div class='absolute text-center left-[55%] top-[70%]'>
      내가 빨리<br />뛰어서 그래
    </div>

  </div>

  <hr />

  <div class='text-blue-600 text-center mt-4 mb-8'>
    하지만, 심장이 빨리 뛰는 것에는<br />
    다양한 원인이 있을 수 있고
  </div>

</ion-grid>
