<ion-grid class='page flex flex-col'>
  <h1>일상활동 노출훈련<br />계획하기</h1>

  <ion-row class='mt-4'>
    <ion-text>
      PanicDoc에서는 나의 공황 촉발요인에 따라 <span class='smd-underline'>일상활동 노출훈련 방법을 제시</span>합니다.
      본인의 촉발요인에 맞는 훈련 방법을 선택 한 뒤 훈련 방법에 따라 3단계의 세부 훈련을 계획해 주세요.
      <br /><br />
      아래 예시와 같이 최소 한 항목의 3단계 훈련계획을 완료하세요.
    </ion-text>
  </ion-row>

  <smd-action-planner class='mt-6'
    step1='가까운 곳 한 바퀴 돌기(지인과 함께)'
    step2='국도 운전하기(혼자)'
    step3='고속도로 운전하기(지인과 함께)'>
  </smd-action-planner>

  <smd-tip-box text='' class='mt-6 fill-available'>
    실제 훈련을 상상하며 계획을 세워보세요.<br />
    상황을 상상하고 마주하는 것도 도움이 됩니다.
  </smd-tip-box>

</ion-grid>

