<ion-grid class='page flex flex-col'>

  <h1>
    같은 사건에도 <span class='smd-underline'>다양한 해석</span>이<br />
    있을 수 있습니다.
  </h1>

  <div class='text-gray-500 mt-3'>
    똑같이 공황발작이 찾아와도, 어떻게<br />
    생각하느냐에 따라 내 감정과 행동이 달라집니다.
  </div>

  <div class='relative flex flex-row justify-center items-center border-slate-100 mt-4 pb-12'>

    <svg xmlns="http://www.w3.org/2000/svg" width="320" height="320.5" viewBox="0 0 320 320.5">
      <g id="그룹_55377" data-name="그룹 55377" transform="translate(-28 -240)">
        <path id="패스_35722" data-name="패스 35722" d="M160,0A160,160,0,1,1,0,160,160,160,0,0,1,160,0Z" transform="translate(28 240)" fill="#f2f1f1"/>
        <g id="그룹_55373" data-name="그룹 55373" transform="translate(0 -3)">
          <path id="패스_35729" data-name="패스 35729" d="M140.376,93,27.239,206.137A159.5,159.5,0,0,0,140.376,253Z" transform="translate(47.624 310)" fill="#ddefe8" stroke="#49b578" stroke-linejoin="round" stroke-width="1"/>
          <path id="패스_35730" data-name="패스 35730" d="M93,93V253a159.5,159.5,0,0,0,113.137-46.863Z" transform="translate(95 310)" fill="#ddefe8" stroke="#49b578" stroke-linejoin="round" stroke-width="1"/>
        </g>
      </g>
    </svg>

    <div class='pie-text mb-28'>
      호흡이 점점 가빠져<br />결국 숨이 막혀 죽을거야.
    </div>
    <div class='absolute text-center left-[55%] top-[70%]'>
      내가 빨리<br />뛰어서 그래
    </div>
    <div class='absolute text-center right-[55%] top-[70%]'>
      이건 정상적인<br />반응이야
    </div>

  </div>

  <hr />

  <div class='text-blue-600 text-center mt-4 mb-8'>
    심장이 빨리 뛰는 것은 위험하지 않습니다. 잠시 기다리면 심장이 다시 평소처럼 돌아온다는 것을 알고 있습니다.
    지금까지 항상 그래왔던 것 처럼요!
  </div>

</ion-grid>
