<ion-grid class='page flex flex-col'>
  <h1>불안의 신체감각, 생각, 행동</h1>
  <ion-row>
    <div class='panel orange mt-10'>
      <span class='font-bold'>
        <div class='mt-2'>1. 신체감각</div>
      </span>
      <span>
        <div class='mt-3'>
          근육의 긴장, 심장 박동의 증가, 호흡 곤란, 설사나 변비를 동반하는 소화불량, 식은땀, 두통, 위통, 목에 무엇인가 걸린 느낌, 빈뇨, 시각적인 혼란, 머리에 묵직한 느낌과 같은 신체적 증상이나 느낌을 말합니다. 신체증상은 갑자기 생겨 지속시간이 짧은 경우도 있고, 수 시간 혹은 며칠 동안 지속될 수도 있습니다.
        </div>
      </span>
    </div>
  
    <div class='panel sky mt-2'>
      <span class='font-bold'>
        <div class='mt-2'>2. 생각(인지,사고)</div>
        </span>
      
      <span>
        <div class='mt-3'>
          어떤 무서운 일이 일어날 것 같은 생각, 위험이 닥칠 것 같은 느낌, 현재와 미래에 대한 두려움 등이 포함됩니다. 불안의 인지적 요소는 최악의 사태를 예상하고 무슨 일이 벌어질까 걱정하는 것입니다. 또한 사건의 진행과정을 조절할 수 없을지도 모른다는 걱정 혹은 자제력을 잃게 될지도 모른다는 두려움입니다. 한마디로 불확실성 앞에서의 무기력감입니다.
        </div>
      </span>
    </div>
  
    <div class='panel pink mt-2'>
      <span class='font-bold'>
        <div class='mt-2'>3. 행동</div>
      </span>
      <span>
        <div class='mt-3'>
          손톱 물어뜯기, 서성대거나 안절부절못하고 조바심을 내는 것 등이 있습니다. 또한 불안이나 공황이 일어날 것 같은 장소나 사건을 회피하거나 도피하는 것을 포함합니다. 회피행동의 예로는 남들이 나를 어떻게 볼까 하는 걱정 때문에 다른 사람들 앞에서 이야기하는 것을 피하는 행동이 있습니다. 도피행동의 예로는 불안이나 공황발작을 느끼면 곧바로 백화점을 빠져나오는 행동을 들 수 있습니다. 더 미묘한 수준에서의 행동은 갇혀 있다는 느낌을 줄이기 위해 출구를 찾는 것, 더 편안한 느낌을 받는 물건이나 상황에 의지하는 것 등입니다. 주의를 집중하지 못하는 것 역시 불안이나 공황과 연관된 행동입니다.
        </div>
      </span>
    </div>
  
    <span>
      <div class='mt-10'>
        신체감각, 사고, 행동, 이 세 가지 구성요소 중 어떤 것이 중요한가는 각 개인에 따라 다를 수 있고, 같은 사람의 경우에도 시간에 따라 차이가 있을 수 있습니다. 그러나 세 가지 요소 모두가 상호작용하며 불안에 주요한 역할을 합니다.
      </div>
      <br /><br />
    </span>
  </ion-row>
</ion-grid>