<!-- 대기 화면 -->
<ion-content (click)='open = true'>
  <ion-grid class='h-screen'>
    <ion-col>
      <ion-row class='justify-center mt-24'>
        <img src='assets/logo.svg' />
      </ion-row>
      <ion-row class='justify-center'>
        <ion-text class='text-center mt-5'>
          {{ data[0] }}
        </ion-text>
      </ion-row>
      <ion-row *ngIf='open' class='justify-center mt-10'>
        <ion-button color='primary' (click)='start()' class='w-1/2 h-14'>시작하기</ion-button>
      </ion-row>
      <ion-row class='justify-center fixed bottom-0 w-full'>
        <img src='assets/img/loading.png' />
      </ion-row>
    </ion-col>
  </ion-grid>
</ion-content>
