:host {
  display: contents;
}

ion-footer {
  padding-bottom: 12px;
  // box-shadow: 0 4px 8px rgba(134, 144, 162, 0.25);
  box-shadow: 0px 0px 15px rgb(200, 200, 200);
  background-color: #F9F9F9;

  &.transparentBackground {
    box-shadow: none;
    background-color: transparent;
  }

  .buttons-wrap {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  ion-button {
    height: 56px;
    margin: 10px 0 0;
    font-size: 15px;
  }

  ion-button.front {
    --color: dimgray;
    --background: #F2F1F1;
  }
}
