:host {
  display: contents;
}
ion-menu {
  ion-toolbar {
    --background: white;
  }
  ion-content {
    > * {
      padding-left: 1rem;
    }
    ion-menu-toggle {
      display: block;
    }
    ion-item {
      --min-height: 36px;
      --padding-start: 0;
      ion-label {
        margin: 0;
        font-size: 15px;
      }
    }
  }
  ion-footer {
    padding-left: 1rem;
    ion-button {
      --padding-start: 2px;
    }
  }
}

ion-modal {
  --border-radius: 6px;
  --width: fit-content;
  --min-width: 300px;
  --height: fit-content;

  span.title {
    font-family: 'Pretendard-Bold';
    font-size: 20px;
  }
  .message {
    color: dimgray;
    text-align: center;
    font-size: 15px;
  }
}
