<ion-app>
  <ion-menu contentId='main-content' side='end'>
    <ion-header>
      <ion-toolbar class='text-end pb-2'>
        <ion-buttons slot="end">
          <ion-button fill='clear' routerLink='/home/settings'>
            <ion-icon class='text-black' slot='icon-only' name='settings-outline' size='large'></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-menu-toggle>
            <ion-button fill='clear'>
              <ion-icon class='text-black' slot='icon-only' name='close-outline' size='large'></ion-icon>
            </ion-button>
          </ion-menu-toggle>
        </ion-buttons>
      </ion-toolbar>
      <div class="px-4">
        <h1 class='pb-2'>{{ auth.name }}님<br />오늘도 화이팅하세요!</h1>
        <div class='text-gray-500 pb-8'>환자코드: {{ auth.patientCode }}</div>
      </div>
    </ion-header>
    
    <hr class='h-[0.5rem] border-0 bg-gray-100'/>
    
    <ion-content>
      <div class='color-primary mt-4'>인지행동치료(CBT)</div>
      <ion-menu-toggle>
        <ion-item detail="false" lines="none">
          <ion-label>프로그램</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item detail="false" lines="none">
          <ion-label>앱 사용 설명</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <div class='color-primary mt-6'>나의 공황</div>
      <ion-menu-toggle>
        <ion-item detail="false" lines="none" routerLink='/settings/panic-factors'>
          <ion-label>나의 공황 촉발 요인</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item detail="false" lines="none" routerLink='/settings/panic-result'>
          <ion-label>공황평가(PDSS, APPQ)</ion-label>
        </ion-item>
      </ion-menu-toggle>
    
      <div class='color-primary mt-6'>나의 훈련</div>
      <ion-menu-toggle>
        <ion-item detail="false" lines="none" routerLink='/settings/training-relax-records'>
          <ion-label>이완훈련</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item detail="false" lines="none" routerLink='/settings/training-exposure-records'>
          <ion-label>증상 노출훈련</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item detail="false" lines="none" routerLink='/settings/training-daily-records'>
          <ion-label>일상생활 노출훈련</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-content>
    
    <ion-footer>
      <div class='flex flex-row items-center color-primary'>
        로그아웃
        <ion-button class='menu-item p-0' fill='clear'>
          <ion-icon class='color-primary' slot='icon-only' name='log-out-outline' size='small'></ion-icon>
        </ion-button>
      </div>
      <div class='text-gray-400'>
        이용안내 | 서비스 이용 약관 | 개인정보 처리 방침
      </div>
      <div class='mb-12'>
        (주)에스엠디솔루션
      </div>
    </ion-footer>
    
  </ion-menu>
  <ion-router-outlet id='main-content'></ion-router-outlet>
</ion-app>

<ion-modal #modal1 [showBackdrop]='true'>
  <ng-template>
    <div class='flex flex-col items-center p-4'>
      <div class='flex flex-row justify-center items-center'>
        <span class='title mt-2'>{{ smdModal.title }}</span>

        <ion-button class='absolute right-4 top-[1.4rem] text-black' fill='clear' size='small' (click)='smdModal.onCancel()'>
          <ion-icon slot='icon-only' name='close-outline' size='small'></ion-icon>
        </ion-button>
      </div>

      <div class='mt-4 message' [innerHtml]='smdModal.message'></div>

      <ion-textarea *ngIf='smdModal.multilineInput' [rows]='6' [placeholder]='smdModal.placeholder'>
      </ion-textarea>

      <div class='flex flex-row jus w-full mt-4'>
        <ion-button color='light' *ngIf='smdModal.modalType == "confirm"' class='mr-4 grow' (click)='smdModal.onCancel()'>
          {{ smdModal.cancelButtonText || '취소' }}
        </ion-button>
        <ion-button class='grow' (click)='smdModal.onOk()'>
          {{ smdModal.okButtonText || '확인' }}
        </ion-button>
      </div>
    </div>
  </ng-template>
</ion-modal>
