:host {
  display: contents;
}
ion-menu {
  ion-toolbar {
    --background: white;
  }

  ion-content {
    > * {
      padding-left: 1rem;
    }
  }

  ion-button {
    padding: 0;

    &.menu-item {
      height: 1.6rem;
    }
  }

  ion-footer {
    padding-left: 1rem;
    ion-button {
      --padding-start: 2px;
    }
  }
}

ion-modal {
  --border-radius: 6px;
  --width: fit-content;
  --min-width: 300px;
  --height: fit-content;

  span.title {
    font-family: 'Pretendard-Bold';
    font-size: 20px;
  }
  .message {
    color: dimgray;
    text-align: center;
    font-size: 15px;
  }
}
