<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>


<ion-modal #modal1 [showBackdrop]='true'>
  <ng-template>
    <div class='flex flex-col items-center p-4'>
      <div class='flex flex-row justify-center items-center'>
        <span class='title mt-2'>{{ smdModal.title }}</span>

        <ion-button class='absolute right-4 top-[1.4rem] text-black' fill='clear' size='small' (click)='smdModal.onCancel()'>
          <ion-icon slot='icon-only' name='close-outline' size='small'></ion-icon>
        </ion-button>
      </div>

      <div class='mt-4 message' [innerHtml]='smdModal.message'></div>

      <ion-textarea *ngIf='smdModal.multilineInput' [rows]='6' [placeholder]='smdModal.placeholder'>
      </ion-textarea>

      <div class='flex flex-row jus w-full mt-4'>
        <ion-button color='light' *ngIf='smdModal.modalType == "confirm"' class='mr-4 grow' (click)='smdModal.onCancel()'>
          {{ smdModal.cancelButtonText || '취소' }}
        </ion-button>
        <ion-button class='grow' (click)='smdModal.onOk()'>
          {{ smdModal.okButtonText || '확인' }}
        </ion-button>
      </div>
    </div>
  </ng-template>
</ion-modal>
