<ion-grid class='page flex flex-col'>
  <h1>복식호흡 익숙해지기</h1>
  <ion-row class='mt-6'>
    <ion-text>
      <div>
        습관적으로 가슴 호흡을 해온 사람에겐 복식호흡이 부자연스럽고 약간 숨이 막히는 듯한 느낌을 줄지도 모릅니다. 그건 자연스러운 반응입니다. 그러나 실제로는 충분한 산소를 마시고 있으며 연습을 하면 할수록 숨 막히는 느낌이 감소된다는 점을 잊지 마세요.
        <br /><br />
        숨이 막히는 느낌이 들거나 약간 어지럽거나 호흡이 자꾸 빨라지나요? 호흡과 관련된 증상에 예민하기 때문입니다. 그런 증상이 심하다면, 운동을 잠시 멈추고 안정을 취한 다음 다시 한 번 시작하세요. 연습을 계속 해나가면 예민성은 점차 감소됩니다.
        <br /><br />
        복식호흡의 습관을 들이려면 일주일 정도의 연습 기간이 필요합니다. 규칙적으로 연습하는 것이 무엇보다도 중요합니다. 성과가 즉각 나타나지 않는다 해도 실망하지 마세요. 복식호흡은 연습 정도에 따라 효과가 달라집니다.
        <br /><br />
        처음 일주일은 익숙해지기 위한 시간이니, 편해지는 느낌이 없더라도 꾸준히 연습하세요. 처음에는 방해를 받지 않는 조용하고 편안한 장소에서 시작하세요. 일단 호흡 조절을 잘 할 수 있게 되면, 언제 어느 곳에서나 연습할 수 있습니다.
        <br /><br />
        복식호흡에 익숙해지면 몸과 마음이 안정될 수 있습니다. 평상시 반복 연습을 통해 공황이 왔을 때 쉽게 자동적으로 복식호흡을 통해 이완할 수 있도록 미리 익혀두기를 권장합니다.
        <br /><br />
      </div>
    </ion-text>
  </ion-row>
</ion-grid>
