<ion-grid class='page flex flex-col'>
  <h1>두려운 생각 찾아 바꾸기</h1>

  <ion-row class='mt-4'>
    <ion-text>
      지난 시간에 우리는 두려운 생각을 찾기 위해 다음과 같은 질문을 해보았습니다.
    </ion-text>
  </ion-row>

  <div class='panel mt-6 pl-6'>
    <ul>
      <li class='text-black'>무엇을 두려워하고 있지?</li>
      <li class='mt-2 text-black'>만일 그렇게 되면 어떻게 될까?</li>
      <li class='mt-2 text-black'>만일 그렇게 된다면 그것은 무엇을 의미하나?</li>
    </ul>
  </div>

  <ion-row class='mt-4'>
    <ion-text>
      그리고 ‘가능성에 대한 과대평가’, ‘재앙화 사고’ 두 가지 흔한 생각의 오류에 대해 배웠습니다.
      <br /><br />
      이번 시간에는 내 생각의 오류를 변화시킴으로써 공황반응을 조절하는 방법을 배우도록 하겠습니다.    </ion-text>
  </ion-row>

</ion-grid>
