<ion-grid class='page flex flex-col'>
  <h1>생각보다 흔한 공황장애</h1>

  <ion-row>
    <ion-text class='mt-6'>
      일생에 있어서 공황발작을 경험하는 사람은 매우 많습니다. 전체 성인 인구의 30% 정도가 한 차례 이상 공황발작을 경험한다고 합니다.
    </ion-text>
  </ion-row>

  <ion-row class='mt-6'>
    <img src='assets/img/placeholder.svg' />
  </ion-row>

  <ion-row>
    <ion-text class='mt-6'>
      그러나 공황발작은 흔하지만 반복적으로 일어나지는 않으며, 이러한 경우는 공황장애라고 진단하지 않습니다.
      따라서 <span class='smd-underline'>한 번쯤 공황발작을 경험했다고 해서 ‘나도 공황장애구나!’라고 생각할 필요는 없습니다.</span>
      <br /><br />
      하지만 특별한 스트레스나 신체적인 원인 없이 공황발작이 반복적으로 일어나고 공황발작에 대해 지속적으로 걱정하거나 이로 인한 행동 변화가 생긴다면 공황장애로 진단할 수 있습니다.
    </ion-text>
  </ion-row>
</ion-grid>
