ion-slides {
  height: 100%;
  ion-slide {
    height: 100%;
    ion-grid {
      height: 100%;
      overflow-y: scroll;
    }
  }
}

.desc1 {
  position: absolute;
  left: 20px;
  // bottom: 1.5rem;
  bottom: 150px;
}
