<ion-grid class='page flex flex-col'>

  <h1>
    같은 사건에도 <span class='smd-underline'>다양한 해석</span>이<br />
    있을 수 있습니다.
  </h1>

  <div class='text-gray-500 mt-3'>
    똑같이 공황발작이 찾아와도, 어떻게<br />
    생각하느냐에 따라 내 감정과 행동이 달라집니다.
  </div>

  <div class='flex flex-col justify-start items-end border-slate-100 mt-4 pb-12'>

    <div class='chat'>
      호흡이 점점 가빠져서 결국 숨<br />이 막혀 죽을거야.
    </div>

    <div class='chat mt-4'>
      내가 빨리 뛰어서 그래
    </div>

    <div class='chat mt-4'>
      이건 정상적인 반응이야
    </div>

    <div class='chat mt-4'>
      몸에 산소를 공급하려고 숨을<br/>많이 쉬는거야.
    </div>

    <div class='chat mt-4'>
      호흡은 다시 돌아올거야.
    </div>

    <div class='chat mt-4'>
      너무 의식해서 숨이 더 가쁘게<br />느껴지는거야
    </div>

    <div class='chat mt-4'>
      잠깐 불안해서 그래
    </div>

    <div class='chat mt-4'>
      예전에도 겪었지만 숨이<br />막히지는 않았어.
    </div>

    <div class='flex flex-row self-start items-start mt-4'>
      <img src='assets/img/doc-avatar.png' class='w-12' />
      <div class='ml-4'>
        PanicDoc
        <div class='chat doc'>
          우리 같이 이겨내보자!
        </div>
      </div>
    </div>
  </div>

  <hr />

  <div class='text-blue-600 text-center mt-4'>
    갑자기 심장이 두근거릴 때, 어떤 생각이 들었나요? 심장박동이 빨라져 결국 심장이 고장 나 버릴 거라는 극단적인 생각이 들었나요?
  </div>

</ion-grid>
