<ion-grid class='page flex flex-col'>
  <h1>공황장애 이해하기를 마무리하며</h1>
  <br />
    <div class='mt-6'>
    <ion-text>
      <span class='smd-underline'>인지행동치료를 성공적으로 마친 이후 더 이상 공황을 겪지 않는다고 보고한 사람이 많게는 90%까지 됩니다.</span> 더욱 중요한 것은 이 치료효과는 치료 종료 후에도 지속된다는 것입니다. 치료효과가 오래 지속되는 이유는 인지행동치료는 학습 프로그램이기 때문입니다.
      <br /><br />
      따라서 <span class='smd-underline'>8 ~ 12주 동안의 시간과 스스로의 훈련</span>이 필요합니다. 치료 성공은 공황장애의 경중도, 기간, 나이 등에 달려 있는 것이 아니라 최선을 다하는 마음가짐에 있습니다.
      <br /><br />
      <span class='smd-underline'>가장 중요한 것은 의지</span>입니다.<br />
      치료효과를 결정하는 것은 <span class='smd-underline'>훈련 양</span>입니다. <br />
      더 많이 <span class='smd-underline'>연습하고</span>, 성실하게 기록하세요.
      <br /><br />
      마지막으로, 치료 도중에 증상이 사라졌다 하더라도 8 ~ 12주간의 전체 프로그램을 모두 마치는 것이 치료효과 유지에 더 좋습니다.
      <br /><br />
      PanicDoc과 함께 불안함과 공황으로부터 달라진 모습을 기대해봅시다.
      <br /><br />
    </ion-text>
  </div>
</ion-grid>
