<ion-grid class='page flex flex-col'>
  <h1>공황과 신체증상</h1>
  <div>
    우리를 보호하기 위한 신체증상은 다음과 같습니다.
  </div>
  <div class='panel mt-5'>
    <div class='mt-2'>
      <b>
        1. 심장을 빨리 뛰게 합니다.
      </b>
    </div>
    <div class='mt-3 text-gray-500'>
      도망가거나, 싸우기 위해서는 온몸의 조직에 혈류를 공급하고 노폐물을 제거하는 것이 필수적입니다.
    </div>
  </div>

  <div class='panel mt-5 sky'>
    <div class='mt-2'>
      <b>
        2. 혈액 공급이 변합니다.
      </b>
    </div>
    <div class='mt-3 text-gray-500'>
      도망가거나, 싸우는데 필요한 큰 근육(팔, 다리)에는 혈액 공급을 늘리고 손가락, 발가락, 얼굴, 소화기관에는 혈액 공급을 줄여 피부가 창백해지고 속이 더부룩해집니다. 혈액 공급의 변화로 손과 발이 차가워지거나 몸에 열감이 느껴지기도 합니다.
    </div>
  </div>

  <div class='panel mt-5'>
    <div class='mt-2'>
      <b>
        3. 호흡이 빨라집니다.
      </b>
    </div>
    <div class='mt-3 text-gray-500'>
      도망가거나 싸우기 위해서는 더 많은 산소가 필요하기 때문에 호흡이 늘어납니다.
    </div>
  </div>

  <div class='panel mt-5 sky'>
    <div class='mt-2'>
      <b>
        4. 땀이 분비됩니다.
      </b>
    </div>
    <div class='mt-3 text-gray-500'>
      땀은 뜨거워진 몸을 식히며, 신체가 열로 탈진하지 않게 해줍니다.
    </div>
  </div>

  <div class='panel mt-5'>
    <div class='mt-2'>
      <b>
        5. 동공이 넓어집니다.
      </b>
    </div>
    <div class='mt-3 text-gray-500'>
      위험을 탐지하기 위해 동공이 넓어져 빛을 더 많이 받아들이고 주변을 살핍니다.
    </div>
  </div>

  <div class='mt-8'>
    공황과 불안에서 발생하는 신체적 반응은 위험한 증상이 아니라 우리 몸을 보호하기 위한 진화적 작용입니다.
  </div>
</ion-grid>
