<ion-grid class='page flex flex-col'>
  <h1>증상 노출훈련</h1>
  <div class='mt-6'>
    <ion-text>
      <div>
        노출훈련의 첫 단계는 두려운 신체감각을 확인하는 것입니다. 잠시후, 특정 운동을 통해 내가 어떠한 신체감각을 두려워하고 있는지 확인할 것입니다. 전형적인 공황 또는 불안을 유발하는 운동을 확인하고, 두려운 증상을 유발하는 운동을 더 이상 두려워하지 않을 정도로 충분히 반복합니다. 이것이 공포에 직면하는 전략입니다.
        <br /><br />
        공포에 직면한다는 것은 신체감각이 나를 해치지 않는다는 것을 깨달을 때까지 두려운 신체감각에 충분히 노출한다는 것입니다. 이 새로운 깨달음은 공포를 감소시킵니다.
        <br /><br />
        공황발작을 일으킬 수 있는 운동은 심장의 두근거림, 숨참, 땀 흘림, 어지러움 등의 증상을 유발합니다. 그러나 이는 신체가 운동에 맞추어 그 대응능력을 끌어올리는 과정에서 발생하는 자연스러운 신체 증상입니다. 신체 증상이 시간이 지나면 저절로 사라짐을 느껴보세요.
      </div>
    </ion-text>

    <div class='panel text-center mt-12 mb-1'>
      운동방법을 선택하여 공황 유사 증상 느껴보기
    </div>

    <smd-arrow></smd-arrow>
    <div class='panel text-center sky mt-1 mb-1'>
      신체 반응에 대한 나의 두려움 직면하기
    </div>

    <smd-arrow></smd-arrow>
    <div class='panel text-center gray1 mt-1 mb-8'>
      신체 반응에 대해 바르게 생각하고 기록하기
    </div>

  </div>
</ion-grid>
