@import 'src/theme/variables';

ion-modal {
  &::part(content) {
    background-color: transparent;
  }
}

ion-datetime {
  --background: white;
  --background-rgb: white;
  --ion-color-step-150: #DDEFE8;
  color: #aaa;
}
