<ion-grid class='page flex flex-col'>

  <div class='panel text-center h-28 mt-12 mb-1'>
    공황발작 증상 구현하기
    <div class='text-gray-500'>
      증상 노출 : 운동을 통하여 공황과 유사한 증상 구현<br />
      일상활동 노출 : 직접 계획한 단계에 따라 증상 구현
    </div>
  </div>

  <smd-arrow></smd-arrow>
  <div class='panel text-center sky h-20 mt-1 mb-1'>
    ‘공황증상은 실제로는 위험하지 않아’<br />
    라는 합리적인 생각
  </div>

  <smd-arrow></smd-arrow>
  <div class='panel flex flex-col justify-center items-center  gray1 h-20 mt-1'>
    공황발작을 무사히 견뎌내는 경험
  </div>

  <div class='mt-8'>
    노출훈련은 잘못된 공황과 불안에 대한 인지를 마주하고 바로잡을 수 있는 기회를 만들어줍니다.<br />
    <br />
    증상에 직면하는 것이 너무 고통스럽고 힘들 수도 있습니다. 하지만 공황 증상과 일상 활동이 안전하다는 경험이 쌓이면 전체적인 불안감이 줄어들고, 만약 다소 불안감이 남아있다 하더라도 일상 생활을 유지할 수 있게 됩니다.<br />
    <br />
    내가 만들어낸 증상과 상황에서는 보다 안전하게 훈련할 수 있습니다. 한 주간 꼭 노출치료를 진행해 보세요.
  </div>

</ion-grid>
