<ion-grid class='page flex flex-col'>
  <h1>감정일기 작성 1</h1>
  <br />
  <div class='mt-6'>
    <div>
      <smd-card>
        <svg xmlns="http://www.w3.org/2000/svg" width="305" height="96" viewBox="0 0 305 96">
          <g id="그룹_55455" data-name="그룹 55455" transform="translate(-35 -214)">
            <g id="img05" transform="translate(20 4.304)">
              <circle id="타원_878" data-name="타원 878" cx="14.5" cy="14.5" r="14.5" transform="translate(291 247.696)" fill="#f2f1f1"/>
              <circle id="타원_1412" data-name="타원 1412" cx="14.5" cy="14.5" r="14.5" transform="translate(153 247.696)" fill="#f2f1f1"/>
              <text id="최상" transform="translate(305 293.696)" font-size="10" font-family="Pretendard-Medium, Pretendard" font-weight="500" opacity="0.5"><tspan x="-8.64" y="0">최상</tspan></text>
              <text id="전혀" transform="translate(30 293.696)" font-size="10" font-family="Pretendard-Medium, Pretendard" font-weight="500" opacity="0.5"><tspan x="-8.64" y="0">전혀</tspan></text>
              <text id="중간" transform="translate(168 293.696)" font-size="10" font-family="Pretendard-Medium, Pretendard" font-weight="500" opacity="0.5"><tspan x="-8.64" y="0">중간</tspan></text>
              <g id="그룹_53022" data-name="그룹 53022" transform="translate(15 248)">
                <circle id="타원_1217" data-name="타원 1217" cx="14.5" cy="14.5" r="14.5" transform="translate(0 -0.304)" fill="#f2f1f1"/>
              </g>
              <ellipse id="타원_1413" data-name="타원 1413" cx="15" cy="14.5" rx="15" ry="14.5" transform="translate(49 247.696)" fill="#f2f1f1"/>
              <g id="타원_1414" data-name="타원 1414" transform="translate(84 247.696)" fill="#fff" stroke="#49b578" stroke-width="4">
                <circle cx="14.5" cy="14.5" r="14.5" stroke="none"/>
                <circle cx="14.5" cy="14.5" r="12.5" fill="none"/>
              </g>
              <ellipse id="타원_1415" data-name="타원 1415" cx="15" cy="14.5" rx="15" ry="14.5" transform="translate(118 247.696)" fill="#f2f1f1"/>
              <ellipse id="타원_1416" data-name="타원 1416" cx="15" cy="14.5" rx="15" ry="14.5" transform="translate(187 247.696)" fill="#f2f1f1"/>
              <circle id="타원_1417" data-name="타원 1417" cx="14.5" cy="14.5" r="14.5" transform="translate(222 247.696)" fill="#f2f1f1"/>
              <ellipse id="타원_1418" data-name="타원 1418" cx="15" cy="14.5" rx="15" ry="14.5" transform="translate(256 247.696)" fill="#f2f1f1"/>
              <text id="_0" data-name="0" transform="translate(30 265.696)" font-size="10" font-family="Pretendard-SemiBold, Pretendard" font-weight="600" opacity="0.3"><tspan x="-3.19" y="0">0</tspan></text>
              <text id="_1" data-name="1" transform="translate(64 265.696)" font-size="10" font-family="Pretendard-SemiBold, Pretendard" font-weight="600" opacity="0.3"><tspan x="-2.29" y="0">1</tspan></text>
              <text id="_2" data-name="2" transform="translate(99 265.696)" fill="#49b578" font-size="10" font-family="Pretendard-SemiBold, Pretendard" font-weight="600"><tspan x="-3.01" y="0">2</tspan></text>
              <text id="_3" data-name="3" transform="translate(133 265.696)" font-size="10" font-family="Pretendard-SemiBold, Pretendard" font-weight="600" opacity="0.3"><tspan x="-3.16" y="0">3</tspan></text>
              <text id="_4" data-name="4" transform="translate(168 265.696)" font-size="10" font-family="Pretendard-SemiBold, Pretendard" font-weight="600" opacity="0.3"><tspan x="-3.23" y="0">4</tspan></text>
              <text id="_5" data-name="5" transform="translate(202 265.696)" font-size="10" font-family="Pretendard-SemiBold, Pretendard" font-weight="600" opacity="0.3"><tspan x="-3.09" y="0">5</tspan></text>
              <text id="_6" data-name="6" transform="translate(237 265.696)" font-size="10" font-family="Pretendard-SemiBold, Pretendard" font-weight="600" opacity="0.3"><tspan x="-3.17" y="0">6</tspan></text>
              <text id="_7" data-name="7" transform="translate(271 265.696)" font-size="10" font-family="Pretendard-SemiBold, Pretendard" font-weight="600" opacity="0.3"><tspan x="-2.84" y="0">7</tspan></text>
              <text id="_8" data-name="8" transform="translate(306 265.696)" font-size="10" font-family="Pretendard-SemiBold, Pretendard" font-weight="600" opacity="0.3"><tspan x="-3.15" y="0">8</tspan></text>
            </g>
            <text id="날짜에_맞춰_나의_감정일기를_입력해주세요." data-name="날짜에 맞춰 나의 감정일기를 입력해주세요." transform="translate(35 214)" font-size="15" font-family="Pretendard-SemiBold, Pretendard" font-weight="600"><tspan x="0" y="14">날짜에 맞춰 나의 감정일기를 입력해주세요.</tspan></text>
            <g id="그룹_54321" data-name="그룹 54321" transform="translate(-127.102 -77.102)">
              <g id="그룹_53911" data-name="그룹 53911" transform="translate(248.676 343.846)">
                <g id="그룹_53912" data-name="그룹 53912" transform="translate(0 0)">
                  <path id="패스_34250" data-name="패스 34250" d="M23.958,7.269,21.725,5.037a2.8,2.8,0,0,1-.885-1.779,2.436,2.436,0,0,1,.8-1.895,2.564,2.564,0,0,1,3.8-.041L35.828,11.71a13.579,13.579,0,0,1,2.192,2.917,32.04,32.04,0,0,0,4.437,6.388,18.249,18.249,0,0,0,2.189,2.039l.022.015a2.2,2.2,0,0,1,.688,2.383A16.718,16.718,0,0,1,40.8,32.378c-3.152,3.152-5.653,4.065-7.086,4.3a2.206,2.206,0,0,1-1.957-.575l-.009-.009a11.117,11.117,0,0,0-2.07-1.514,10.814,10.814,0,0,0-5.341-1.845c-2.567-.4-6.248-3.221-8.44-3.756l-9.181-.731a2.555,2.555,0,0,1-2.437-3.123,2.735,2.735,0,0,1,2.809-2.433l9.378-.216L1.285,7.3A2.674,2.674,0,0,1,5,3.451L16.388,14.84l0,0-4.7-4.692a2.675,2.675,0,1,1,3.784-3.784l4.7,4.692L16.66,7.538a2.675,2.675,0,1,1,3.783-3.784l1.282,1.282Z" transform="translate(-0.5 -0.5)" fill="#f39a96" stroke="#d46064" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                </g>
              </g>
              <rect id="사각형_20358" data-name="사각형 20358" width="50" height="50" transform="translate(246.102 337.102)" fill="none"/>
            </g>
          </g>
        </svg>


      </smd-card>
    </div>
    <ion-text>
      <div class='mt-4'>
        감정일기에 매일 나의 <span class='smd-underline'>불안함, 우울함, 통제력 상실 <span class='color-primary smd-underline'>*</span>에 대한 걱정</span>을 0~8의 수치로 입력할 수 있습니다. 매일 작성하며 오늘 나의 감정은 어땠는지 스스로 관찰해보세요.
      </div>
      <div class='mt-2'>
        <span class='color-primary'>*통제력 상실</span>
        <br />
        <div class='text-gray-500'>
          공황으로 나도 모르게 이상한 행동을 하거나, 마비되어 움직이지 못하는 등 공황에 압도되는 것을 말합니다.
        </div>
        <div class='mt-2'>
          그리고 나의 말로 공황과 관련된 생각과 행동을 적어보세요.
        </div>
      </div>
    </ion-text>

    <div class='mt-4'>
      <smd-card>
        <div class='px-4'>
          <div class='color-primary mt-3'>작성예시</div>

          <div class='mt-2'>오늘 공황과 관련된 나의 생각</div>
          <div class='text-gray-500'>오늘 출근길에 차 안에서 식은땀이 나서 불안했다.</div>

          <div class='mt-2'>오늘 공황과 관련된 나의 행동</div>
          <div class='text-gray-500'>상태가 심해지지 않을 거라 생각하며 지장 없이 출근했다.</div>
        </div>
      </smd-card>
      <br />
    </div>
  </div>
</ion-grid>
