<ion-grid class='page flex flex-col'>
  <h1>가능성에 대한<br />과대평가에 도전하기</h1>

  <ion-row class='mt-4'>
    <ion-text>
      부정적인 과대평가를 변화시키고 극복하기 위해서는 그렇게 생각하는 <span class='smd-underline'>스스로의 판단근거가 무엇인지 질문</span>해봐야 합니다. 그리고 그것이 <span class='smd-underline'>실제로 일어날 확률</span>이 얼마나 될는지 그 근거를 검토해봅시다.
    </ion-text>
  </ion-row>

  <div class='panel mt-6 pl-6'>
    <ul>
      <li class='text-black'>이것이 일어날 현실적인 확률은 얼마나 되나?</li>
      <li class='mt-2 text-black'>이전에 이것이 일어났던 적이 있는가?</li>
      <li class='mt-2 text-black'>이것이 일어난다는, 또는 일어나지 않는다는 근거는 무엇인가?</li>
    </ul>
  </div>

</ion-grid>
