<ion-grid class='page flex flex-col'>
  <div class='mt-6'>
    <ng-container *ngIf='context.program4.course2.step13answer?.name == "여전히 불안하고 변화가 없어"; else elseBlock '>
      <div>
        <img src='assets/img/placeholder.svg' />
      </div>
      <ion-text>
        <h2 class='mt-10'>
          여전히 불안하고 변화가 없을 수도 있습니다.<br />
          하지만 이제 시작입니다.
        </h2>
        <div class='mt-4'>
          생각을 바꾸는 훈련과 노력을 계속하다 보면 두근거림도 호흡도 어지러움도 자연스럽게 차츰 편안해질 것입니다.
          <br /><br />
          공황상황에 대해서 좀 더 합리적이고 유연한 생각을 할 수 있게 되면 자연히 불안한 감정과 도움이 되지 않는 행동, 고통스러운 신체증상을 줄이고 다스릴 수 있게 됩니다.
        </div>
      </ion-text>
    </ng-container>
    <ng-template #elseBlock>
      <div>
        <img src='assets/img/placeholder.svg' />
      </div>
      <ion-text>
        <h2 class='mt-10'>
          두근거림도 호흡도 어지러움도<br />
          자연스럽게 차츰 사라져서 편안해질 것입니다.
        </h2>
        <div class='mt-4'>
          나의 자동사고와 생각의 오류를 발견하고 합리적인 생각을 할 수 있게 되면 불안한 감정과 도움이 되지 않는 회피행동, 고통스러운 신체증상을 줄이고 다스릴 수 있게 됩니다.
        </div>
      </ion-text>
    </ng-template>
  </div>
</ion-grid>
