<ion-grid class='page flex flex-col'>
  <h1>나의 공황에 대한<br />인지 재구성</h1>

  <!-- 다이어그램 -->
  <smd-circle-diagram
    word1='신체감각'
    word2='생각<br /><span class="text-gray-500">(인지)</span>'
    word3='행동'
  ></smd-circle-diagram>

  <smd-programs-guide-card class='mt-8'></smd-programs-guide-card>

  <div class='mt-6'>
    우리는 지금까지 공황과 불안을 <span class='smd-underline'>신체감각, 생각, 행동 요소</span>에 따라 배우고 있습니다.<br />
    <br />
    이번 주는 행동 요소에 해당하는 회피 행동 다스리기 전 <span class='smd-underline'>공황에 대한 나의 생각을 재구성</span>하는 시간을 가져보겠습니다.
  </div>

</ion-grid>
