<ion-grid class='page flex flex-col'>
  <h1>공황과 불안</h1>
  <br />
  <ion-row>
    <ion-text class='mt-6'>
      <span>
        <smd-circle-diagram
          word1="신체감각"
          word2='생각<br /><span class="text-gray-500">(인지)</span>'
          word3="행동"
        ></smd-circle-diagram>
        <div class='mt-10'>
          PanicDoc에서는 자신의 신체감각, 사고, 행동을 변화시키는 학습을 통해 공황과 불안을 객관화하고 통제할 수 있는 방법을 배웁니다.
        </div>
        <br />
        <div>
          다음 주차부터 진행될 프로그램은 아래와 같습니다.
        </div>
        <br />

        <div class='panel orange mt-1'>
          <b>이완훈련을 통한 신체감각 다스리기(이완훈련)</b><br />
          <ul>
            <li class='mt-2'>복식호흡</li>
            <li class='mt-1'>점진적 근육이완</li>
          </ul>
        </div>
        <br />

        <div class='panel sky mt-1'>
          <b>두려운 생각 다스리기(인지치료)</b><br />
          <ul>
            <li class='mt-2'>인지왜곡 찾기</li>
            <li class='mt-1'>대안적 사고하기</li>
          </ul>

        </div>
        <br />
        <div class='panel pink mt-1'>
          <b>회피 행동 다스리기(노출훈련)</b><br />
          <ul class='mt-2'>
            <li class='mt-2'>증상 노출훈련</li>
            <li class='mt-1'>일상활동 노출훈련</li>
          </ul>
        </div>
        <br />

        <div>
          우리의 목표는 불안을 모두 제거하는 것이 아니라, 편안하게 여길 수 있는 수준까지 낮추는 것입니다. 프로그램 가장 중요한 것은 규칙적인 훈련입니다!
        </div>
        <br />
        <br />
      </span>
    </ion-text>
  </ion-row>
</ion-grid>
