<smd-header1 title='이완훈련' (back)="back()"></smd-header1>

<ion-content>
  <ion-grid class='page'>
    <h2>
      이완훈련으로 <span class='smd-underline'>신체감각 다스리기!</span>
    </h2>
    <div class='text-gray-500'>
      신체감각을 이해하고 조절해보세요.
    </div>

    <ion-button class='w-full mt-2'>
      이완훈련 진행하기
    </ion-button>

    <smd-chip-select (selected)='onClickWeek($event)'>
    </smd-chip-select>

    <div class='mt-6'>
      7월 4일(월)
      <div class='mt-4'>
        <smd-card>
          15분 52초 진행
        </smd-card>
      </div>
      <div class='mt-4'>
        <smd-card>
          12분 16초 진행
        </smd-card>
      </div>
    </div>

    <div class='mt-6'>
      7월 5일(화)
      <div class='mt-4'>
        <smd-card>
          17분 55초 진행
        </smd-card>
      </div>
    </div>

  </ion-grid>
</ion-content>
