<ion-grid class='page flex flex-col'>
  <h2 class='mt-6'>
    어떠한 상황에서 훈련하고 싶나요?
  </h2>
  <ion-textarea class='mt-2' placeholder='훈련 계획을 입력해주세요.'>
  </ion-textarea>

  <h2 class='mt-12'>
    1단계 훈련 방법을 작성해 주세요.
  </h2>
  <ion-textarea class='mt-2' placeholder='훈련 계획을 입력해주세요.'>
  </ion-textarea>

  <h2 class='mt-12'>
    2단계 훈련 방법을 작성해 주세요.
  </h2>
  <ion-textarea class='mt-2' placeholder='훈련 계획을 입력해주세요.'>
  </ion-textarea>

  <h2 class='mt-12'>
    3단계 훈련 방법을 작성해 주세요.
  </h2>
  <ion-textarea class='mt-2' placeholder='훈련 계획을 입력해주세요.'>
  </ion-textarea>

</ion-grid>
