<ion-grid class='page flex flex-col'>
  <h1>공황기록 작성 3</h1>
  <smd-card class='text-center mt-6'>
    공황발작이 일어난 장소를 구체적으로 기록해주세요.
  </smd-card>
  <smd-card class='mt-6'>
    <div class='flex flex-col'>
      <span class=''>
        일어난 촉발요인을 선택 및 입력할 수 있습니다.
      </span>
      <br/><br/>
      <span class='text-gray-500'>
        이전에 선택한 맞춤형 치료를 위한 정보가 표시됩니다.
      </span>
      <br/><br/>
      <span class='color-primary'>
        선택사항은 나의 공황 > 맞춤형 치료를 위한 정보 입력에서 수정할 수 있습니다.
      </span>
      <br/><br/>
      <img class='self-center' src='/assets/img/img015.png' />
    </div>
  </smd-card>
  <smd-card class='mt-6 mb-8'>
    <div class='flex flex-col'>
      공황발작으로 느낀 공포감 정도와 나의 일상에서 지장받은 정도를 객관적으로 생각해보고 입력합니다.
      <img class='mt-4 self-center' src='/assets/img/img016.png' />
    </div>
  </smd-card>
</ion-grid>
