<ion-grid class='page flex flex-col'>

  <ion-row class='mt-4'>
    <ion-text>
      당신은 공황장애로 인해 사회활동에 어려움을 겪고 있습니다. 사람이 많은 지하철, 마트 등을 가지 못하거나, 집에 혼자 있는 것을 두려워하고, 좋아하는 커피를 마시는 것도 조심했을 수 있습니다.
      <br /><br />
      일상활동 노출훈련의 목표는 일상활동에서 공황증상의 두려움을 줄여 사회활동의 어려움을 줄이고 삶의 질을 높이는 것입니다.
      <br /><br />
      불안 정도가 낮은 단계부터 차근차근 일상활동 노출 훈련을 해 봅시다.
      <br /><br />
      증상이 발생했던 일상 활동을 다시 시도하는 것이 꺼려질 수도 있습니다. 하지만 아무런 대비 없이 갑자기 노출하는 것과, 치료적 목적으로 단계별 노출을 하는 것은 다릅니다.
      <br /><br />
      노출 훈련이 성공적으로 끝날 수 있도록 안전하고 효과적인 계획을 세우겠습니다. 성공적으로 공황을 극복하고 일상을 회복하기 위해 자주, 반복하여 훈련해보겠습니다.
      <br /><br />
      노출 전후로 기록하면서 노출 전의 두려움이 실제 일어나지 않는다는 것을 직접 경험해 보세요.
    </ion-text>
  </ion-row>

</ion-grid>
