<ion-grid class='page flex flex-col'>
  <h1>신체감각, 생각, 행동의 조절</h1>
  <br />
  <ion-row>
    <span>
      <ion-text>
        <div>
          PanicDoc과 함께 자신의 신체감각, 생각, 행동을 변화시켜 공황과 불안을 조절하는 법을 배우고 있습니다.
          <br /><br />
        </div>
      </ion-text>
      <smd-programs-guide-card class='mt-4'></smd-programs-guide-card>
      <ion-text>
        <div class='mt-6'>
          이완훈련을 통해 신체감각을 다스리는 법을 배웠으며, 이번 주부터는 두려운 생각을 조절하는 법을 배우겠습니다.
          <br /><br />
          불안과 공황발작의 구성요소들은 상호작용하기 때문에 생각을 변화시키는 것이 신체감각과 행동에도 영향을 미칩니다.
          <br /><br />
          불안과 공황발작을 발생시키는 잘못된 생각 혹은 해석을 찾아내고, 그 생각과 해석에 도전하는 방법을 배워봅시다.
          <br /><br />
        </div>
      </ion-text>
    </span>
  </ion-row>
</ion-grid>
