<ion-grid class='page flex flex-col'>
  <ion-row class='mt-4'>
    <ion-text>
      회피했던 행동에 노출할 때는 많은 노력이 필요합니다. 그러나 노력을 많이 할수록 더 많은 성과를 얻을 수 있습니다.
      <br /><br />
      처음에는 가족이나 지인의 도움을 받을 수 있습니다. 이후에는 혼자 직면해봅니다.
      <br /><br />
      노출하기 전, 중, 후 모두 앞서 배운 이완훈련, 두려운 생각 다스리기 전략을 이용할 수 있습니다.
      <br /><br />
      처음에는 신체증상이 느껴질 수 있습니다. 그래도 계속하십시오. 다시 피하기만 한다면, 신체증상이 해롭지 않다는 것을 익힐 수 없습니다.
      <br /><br />
      신체증상이 안정되었다면, 다시 반복합니다. 충분하다고 생각될 때에도 과잉으로 훈련하는 것이 좋습니다.
      <br /><br />
      공황이 일어나서 어떠한 방법도 떠오르지 않는다면 그냥 천천히 호흡하고 이완만 하십시오. 공황은 지나갈 것입니다.
      <br /><br />
      공포와 불안이 너무 크면 잠시 상황을 벗어나세요. 몸과 마음을 다스린 후 다시 노출 상황으로 돌아가면 됩니다.
    </ion-text>
  </ion-row>
</ion-grid>
