<smd-card [colorizeBorder]='true'>

  <ng-content></ng-content>

  <div class='flex flex-row justify-center divide-x divide-solid'>
    <div class='flex flex-col text-center pr-4'>
      <span class='text-[1.5rem]'>3</span>
      😖 불안함 평균
    </div>
    <div class='flex flex-col text-center pl-4 pr-4'>
      <span class='text-[1.5rem]'>3</span>
      😥 우울함 평균
    </div>
    <div class='flex flex-col text-center pl-4'>
      <span class='text-[1.5rem]'>3</span>
      😵‍💫 통제력 평균
    </div>
  </div>
</smd-card>
