<ion-grid class='page flex flex-col'>

  <h1>
    같은 사건에도 <span class='smd-underline'>다양한 해석</span>이<br />
    있을 수 있습니다.
  </h1>

  <div class='text-gray-500 mt-3'>
    똑같이 공황발작이 찾아와도, 어떻게<br />
    생각하느냐에 따라 내 감정과 행동이 달라집니다.
  </div>

  <div class='relative flex flex-row justify-center items-center border-slate-100 mt-4 pb-12'>

    <svg xmlns="http://www.w3.org/2000/svg" width="320.5" height="320.5" viewBox="0 0 320.5 320.5">
      <g id="그룹_55378" data-name="그룹 55378" transform="translate(-27.5 -240)">
        <path id="패스_35722" data-name="패스 35722" d="M160,0A160,160,0,1,1,0,160,160,160,0,0,1,160,0Z" transform="translate(28 240)" fill="#f2f1f1"/>
        <g id="그룹_55373" data-name="그룹 55373" transform="translate(0 -3)">
          <path id="패스_35729" data-name="패스 35729" d="M140.376,93,27.239,206.137A159.5,159.5,0,0,0,140.376,253Z" transform="translate(47.624 310)" fill="#ddefe8" stroke="#49b578" stroke-linejoin="round" stroke-width="1"/>
          <path id="패스_35730" data-name="패스 35730" d="M93,93V253a159.5,159.5,0,0,0,113.137-46.863Z" transform="translate(95 310)" fill="#ddefe8" stroke="#49b578" stroke-linejoin="round" stroke-width="1"/>
          <path id="패스_35731" data-name="패스 35731" d="M0,93A159.5,159.5,0,0,0,46.863,206.137L160,93Z" transform="translate(28 310)" fill="#ddefe8" stroke="#49b578" stroke-linejoin="round" stroke-width="1"/>
        </g>
      </g>
    </svg>

    <div class='pie-text mb-28'>
      호흡이 점점 가빠져<br />결국 숨이 막혀 죽을거야.
    </div>
    <div class='absolute text-center left-[55%] top-[70%]'>
      내가 빨리<br />뛰어서 그래
    </div>
    <div class='absolute text-center right-[55%] top-[70%]'>
      이건 정상적인<br />반응이야
    </div>
    <div class='absolute text-center right-[65%] top-[45%]'>
      몸에 산소를 공급<br />하려고 숨을 많이<br />쉬는거야.
    </div>

  </div>

  <hr />

  <div class='text-blue-600 text-center mt-4 mb-8'>
    다양한 관점으로 생각을 해볼까요?<br />
    극단적인 생각은 우리를 불안하게 합니다.<br />
    하지만, 생각은 생각일 뿐 사실이 아닙니다.
  </div>

</ion-grid>
