<ion-grid class='page flex flex-col'>
  <h1>공황기록 작성 2</h1>
  <div class='mt-4'>
    <smd-card class='p-8'>
      공황기록 > 작성하기 버튼을 눌러 입력해주세요.
      <ion-button class='w-full mt-4'>
        <img class='absolute left-0' src='/assets/icon/footer_diary.svg'>
        공황기록 작성하기
      </ion-button>
    </smd-card>
    <smd-card>
      공황발작 기록은 날짜와 시간만 선택하여 간단하게 입력해주세요.
      <div class='relative'>
        <img class='mt-4' src='/assets/img/img014.png' />
        <img class='absolute right-0 bottom-[-1.3rem]' src='/assets/img/hand.svg' />
      </div>
    </smd-card>
    <div class='mt-6'>
      나의 공황발작을 <span class='smd-underline'>객관적으로 바라보고 구체적으로 작성</span>한다면 더 큰 치료효과를 얻을 수 있습니다.
      <br /><br />
      <b>자세한 내용 입력</b>을 선택하여 나의 공황 발작에 대한
      상세한 내용을 입력해보세요.
    </div>
  </div>
</ion-grid>
