<ion-grid class='page flex flex-col'>
  <h1>호흡을 천천히 하는 방법</h1>
  <ion-row class='mt-6'>
    <span>
      <ion-text>
        <div>
          부드럽고 정상적으로 호흡하는 법과 자신의 호흡에 집중하는 법을 배울 것입니다. 이는 생각보다 어려울 수 있습니다. 호흡에 정신을 집중하면서 호흡 횟수를 세면 처음에는 호흡이 점점 빨라질 수도 있습니다. 과호흡 증상이 있는 사람에게 호흡은 두려워하는 신체증상이기 때문입니다. 일단은 평상시의 호흡 횟수와 깊이를 유지하면서 정신을 호흡에 집중하고, 점차 호흡 횟수를 줄여나가도록 하세요.
          <br /><br />
          배의 근육을 움직여 호흡하는 복식호흡으로 몸과 마음을 이완해 봅시다. 평소 복식호흡을 꾸준히 훈련해서 몸에 익힌다면, 공황발작이 발생했을 때 신체의 긴장을 풀고 편안한 상태를 만들어 증상 완화를 앞당길 수 있습니다.
          <br /><br />
          공황발작이 일어났을 경우 배운 대로 복식호흡을 해보세요. 공황이 자연스럽게 사라지는 것을 느껴보세요.
          <br /><br />

        </div>
      </ion-text>
    </span>
  </ion-row>
</ion-grid>
