<ion-grid class='page flex flex-col'>
  <h1>두려운 생각을 다스리는 것 </h1>
  <div class='mt-6'>
    <ion-text>
      <div>
        그럼에도 불구하고 걱정이 계속되는 이유를 한 번 살펴볼까요?
      </div>
    </ion-text>
    <div class='panel mt-6'>
      <ol>
        <li>
          두려워하는 결과가 일어날까봐 상황을 회피했기 때문에 실제로는 일어나지 않는다는 것을 확인할 기회가 없었습니다.
        </li>
        <li>
          이번 공황발작에서 두려워하는 일은 일어나지 않았지만 다음에도 안전하겠다는 근거는 아니라고 생각하기 때문입니다.
        </li>
        <li>
          과거 공항발작이 안전하게 끝난 이유는 운이 아주 좋았기 때문이라고 생각합니다.
        </li>
        <li>
          두려워하던 결과가 일어나지 않았는데도 이미 재앙이 일어났다고 생각하기도 합니다.
        </li>
        <li>
          신체증상과 불안감이 더 심할수록 나쁜 결과가 일어날 확률이 높다고 믿기 때문입니다.
        </li>
        <li>
          공황이 반복되면 몸에 무리가 가서 위험한 일이 일어날 확률이 증가한다고 믿을 수도 있습니다.
        </li>
        <li>
          부정적인 생각이 자동적으로 습관처럼 떠오르기 때문입니다.
        </li>
      </ol>
    </div>
    <ion-text>
      <div class='mt-6'>
        즉, 객관적인 상황이 아닌 ‘불안’을 판단의 근거로 사용하고 있기 때문에  불안할수록 걱정하는 일이 일어날 가능성이 크다고 과대평가하게 됩니다.
      </div>
    </ion-text>
  </div>
</ion-grid>
