<ion-grid class='page flex flex-col'>
  <h1>공황의 신체감각</h1>

  <ion-row>
    <ion-text class='mt-4 mb-4'>
      어떤 위험이 감지되거나 예견되면, 대뇌는 자율신경계에 위험 상황에 대한 정보를 보내 위험에 대비합니다. 자율신경계는 교감신경계와 부교감신경계 두 부분으로 이루어져 있습니다.
    </ion-text>
  </ion-row>

  <smd-card>
    <div class='flex flex-col items-center'>
      <span>자율신경계</span>
      <div class='mt-2 mb-2'>
        <div class='rected-word green w-[120px] h-12'>교감신경계</div>
        <div class='rected-word sky w-[120px] ml-4 h-12'>부교감신경계</div>
      </div>
    </div>
  </smd-card>

  <ion-row>
    <ion-text class='mt-4'>
      교감신경계는 에너지를 방출하고 신체가 행동할 준비를 하여 위험에 맞서 싸우거나, 도망칠 수 있도록 하는 체계입니다. 반대로 부교감신경계는 신체가 다시 정상 상태로 되돌아오게 하는 회복 체계입니다.
      <br /><br />
      응급 상황에서 교감신경계가 활성화되어, 신체가 충분히 그 상황에 대해 반응을 하고 그다음에는 부교감신경계가 활성화되어 안정화됩니다.
      <br /><br />
      공황발작 때 교감신경계 항진으로 인해 경험하는 모든 신체감각은 정상적인 감각입니다. 신체감각으로 인하여 불쾌하고 불안할 수 있으나 이러한 신체감각은 지속되지 않습니다. 결국 부교감신경계가 작동하여 신체는 다시 이완 상태로 돌아가기 때문입니다.
      <br /><br />
    </ion-text>
  </ion-row>

  <smd-diagram1></smd-diagram1>

  <div class='mt-10 mb-8'>
    다음은 공황으로 인한 실제로 일어나는 신체감각에 대해 구체적으로 알아보겠습니다.
  </div>

</ion-grid>
