<ion-grid class='page flex flex-col'>
  <h1>신체감각의 이해</h1>
  <br />
  <ion-row>
    <ion-text class='mt-6'>
      <span>지난 시간에 공황의 여러 신체감각이 생기는 이유에 대해 배웠습니다.<br />
        <span class='smd-underline'>신체증상은 인간을 위험으로부터 보호하려는 것이며, 무언가 심각하게 잘못되었다는 신호가 절대로 아닙니다.</span>
        <br /><br />
        그러나 공황을 겪는 사람들은 신체증상에 매우 놀라게 됩니다. 작은 신체적 변화에도 공황이 일어날까봐 혹은 더 큰 일이 벌어질까봐 두려워합니다. 그 때문에 신체증상 자체를 매우 두려워하게 됩니다.</span>
    </ion-text>

    <div class='flex flex-row justify-center items-center w-full mt-6'>
      <div class='circled-word w-[90px] h-[90px] orange'>
        예기치 못했던<br />신체감각
      </div>
      <span class='ml-2 mr-2'>+</span>
      <div class='circled-word w-[90px] h-[90px] sky'>
        신체감각에<br />대한 공포
      </div>
      <span class='ml-2 mr-2'>=</span>
      <div class='circled-word w-[90px] h-[90px] pink relative'>
        공황
        <div class='smd-exclamation absolute top-1 right-1'></div>
      </div>
    </div>
    <ion-text class='mt-6'>
      <span>
        <span class='smd-underline'>
          신체증상에 대한 두려운 생각은 더 많은 신체감각, 두려운 생각, 행동을 유발하는 악순환
        </span>
        을 일으킵니다. 그리고 몇 차례 신체감각에 대한 공포감을 경험하고 나면, 위험을 의식하지 않고도 신체감각에 대한 공포가 자동적으로 발생합니다.
      </span>
      <br />
    </ion-text>
  </ion-row>
</ion-grid>
