<ion-grid class='page flex flex-col'>
  <ion-row class='mt-4'>
    <ion-text>
      일상상활 노출훈련은 실제로 내가 공황이 일어나는 상황에 노출하여 나의 신체반응을 직면하고 그에 대한 감정과 행동을 바르게 인지하는 훈련입니다. 훈련은 아래와 같이 진행됩니다.
    </ion-text>
  </ion-row>

  <div class='panel green text-center mt-8'>
    일상활동 노출훈련 계획하기
  </div>
  <ion-row class='mt-4'>
    <ion-text>
      만약 15분간 운전을 하면 공황 발작이 일어나 사고를 낼 것만 같다는 걱정이 있다면, 15분 이상 운전하는 것을 최종 목표로 계획해야 합니다.
    </ion-text>
  </ion-row>
  <smd-arrow></smd-arrow>

  <div class='panel sky text-center'>
    실제 일상활동 노출훈련 진행하기
  </div>
  <ion-row class='mt-4'>
    <ion-text>
      되도록 처음 계획한 시간을 지켜줄 것을 권고하지만, 너무 힘들다면 잠시 중단한 뒤 나머지 시간을 채워볼 수도 있습니다. 훈련을 포기하지 마세요! 지금의 불안은 안전하며 곧 지나간다는 것을 기억해주세요. 만약 너무 힘들다면 생각의 오류 바로잡기와 이완훈련으로 불안을 조절해보세요.
    </ion-text>
  </ion-row>
  <smd-arrow></smd-arrow>

  <div class='panel gray1 text-center'>
    훈련 이후 훈련완료 기록하여 훈련 완료하기
  </div>
  <ion-row class='mt-4'>
    <ion-text>
      훈련을 통한 나의 공황을 구체적으로 객관적으로 바라보세요. 그리고 나의 언어로 기록해 봅시다.
    </ion-text>
  </ion-row>
</ion-grid>
