<ion-grid class='page flex flex-col'>
  <h1>인지치료</h1>
  <br />
  <ion-row>
    <span>
      <ion-text>
        <div class='mt-6'>
          PanicDoc은 이런 악순환의 출발점이 되는 <span class='smd-underline'>부정적인 생각이나 부적응적 생각을 찾아내고, 이를 보다 현실적이고 합리적인 생각으로 바꾸어 감정, 행동, 신체증상의 변화</span>를 돕는 인지적 재구조화(인지치료)를 포함합니다.
        </div>
      </ion-text>

      <div class='panel text-center h-20 mt-12 mb-1'>
        공황발작 증상
        <div class='text-gray-500'>
          (심장박동 증가, 숨막힘, 어지러움 등)
        </div>
      </div>

      <smd-arrow></smd-arrow>
      <div class='panel text-center sky h-20 mt-1 mb-1'>
        “이런 증상은 실제로는 위험하지 않아”
      </div>

      <smd-arrow></smd-arrow>
      <div class='panel text-center gray1 h-20 mt-1'>
        공황발작을 무사히 견뎌내는 경험
      </div>

      <div class='mt-8 mb-8'>
        지금부터 2주간 공황 증상과 관련된 생각에 ‘왜곡’이 있다면, 인지왜곡을 함께 찾아내어 바꾸어봅시다.
      </div>
    </span>
  </ion-row>
</ion-grid>
