<ion-grid class='page flex flex-col'>
  <h1>공황기록 작성 5</h1>
  <div class='mt-6 mb-8'>
    마지막으로 공황발작 시 나의 생각과 행동을 정리해 입력해주세요.
  </div>
  <smd-card>
    <div class='color-primary'>작성 예시</div>
    <div class='text-bold mt-4'>오늘 공황과 관련된 나의 생각</div>
    <div class='text-gray-500'>
      오늘 마트에서 땀이 나고 심장의 두근거림을 느낀 뒤 공황발작이 일어날 것 같아 무서웠다.
    </div>
    <div class='text-bold mt-8'>오늘 공황과 관련된 나의 행동</div>
    <div class='text-gray-500'>
      순간 너무 두려워서 허둥거리다 앉을 수 있는 곳을 찾아 앉았다. 곧 공황발작 증상은 나아졌고, 원래 보려던 일을 보고 집으로 돌아왔다.
    </div>
  </smd-card>

  <div class='mt-6 mb-8'>
    내가 겪은 공황발작을 다시 떠올리며 기록을 남긴다는 것은 분명 쉽지 않은 일입니다. 하지만 기록을 하나씩 남기다 보면 나의 상태를 객관적으로 생각할 수 있게 되며, 증상을 통제할 수 있게 될 것입니다.
  </div>
</ion-grid>
