<smd-header1 title='공황평가(PDSS)' back='/pdss-questionnaire-step10'></smd-header1>

<ion-content>
  <ion-grid class='page grow'>
    <h2 class='mt-8 mb-8'>
      지난 주에 공황증상, 공황발작, 발작과 관련된 걱정 때문에 일상활동을 두려워하여 집안 일을 하거나 직장에서 업무를 수행할 때 얼마나 방해를 받았나요?
    </h2>
    <h2 class='mt-4 mb-8 text-gray-500'>
      사람들과 어울리는 데에 얼마나 영향을 받았는지 평가합니다.
    </h2>

    <smd-item-list [items]='items' [(selection)]='selection' [divider]='true' [marginSize]='4' [innerMarginSize]='4'>
    </smd-item-list>

  </ion-grid>
</ion-content>

<smd-program-footer text='다음 (11/11)' (next)='next()' [disabled]='!valid'>
</smd-program-footer>
