<smd-header1 title='공황평가(APPQ)' back='/appq-step1'></smd-header1>

<ion-content>
  <ion-grid class='page grow'>
    <ion-row class='mt-10'>
      <h1>공황평가(APPQ) 결과</h1>
    </ion-row>
    <ion-row class='mt-5'>
      <ion-text>
        APPQ를 기반으로한 결과는 아래와 같습니다.<br/>
        <br/>
        공포와 두려움은 공황증상에 영향을 줍니다. 앞으로 PanicDoc과 함께 나아지는 모습을 기대해봅시다.
        <br/>
        마지막으로 앱 사용을 위한 항목을 입력해주세요.
      </ion-text>
    </ion-row>

    <div class='panel white mt-10 flex justify-between'>
      광장공포
      <span class='score'>
        00 / 72
      </span>
    </div>

    <div class='panel white mt-10 flex justify-between'>
      사회공포
      <span class='score'>
        00 / 80
      </span>
    </div>

    <div class='panel white mt-10 flex justify-between'>
      신체감각
      <span class='score'>
        00 / 64
      </span>
    </div>

  </ion-grid>
</ion-content>

<smd-program-footer text='앱 사용을 위한 나의 정보 추가' (next)='next()'>
</smd-program-footer>
