<ion-grid class='page flex flex-col'>
  <h1>나를 관찰하고 기록하면?</h1>
  <div class='panel sky mt-5'>
    <div class='mt-2'>
      <b>
        2. 힘들었던 날의 기록만큼이나, 잘 지냈던 날의
        기록도 중요합니다.
      </b>
    </div>
    <div class='mt-3 text-gray-500'>
      내가 어떻게 지냈는지 어렴풋이 떠올려보는 것보다, 직접 기록을 하는 것이 더 정확한 정보를 줍니다. 힘들었던 순간의 기억은 너무 강렬해서, 잘 지냈던 순간의 기억조차 왜곡할 수 있습니다.<br />
      <br />
      때로는, 실제 있던 사실이 아닌 그 순간의 기억이 증상을 결정하기도 합니다. 왜곡된 기억은 나의 정체성과 삶에 과도한 영향을 주면서 ‘나는 항상 불안한 사람이야.’ ‘내 삶은 불안으로 가득 차 있어.’라는 생각이 나와 내 삶 전체를 지배하게 합니다.<br />
      <br />
      힘든 순간은 힘든 순간대로, 괜찮았던 순간은 괜찮았던 대로 기록해 주세요. 그리고 내 기분이 어떻게 변해가는지 바라보며 덜 불안한 시기도 있었음을 기억해 주세요.<br />
      <br />
      덜 불안한 시기가 있었다고 해서 불안한 순간이 불안하지 않게 되는 것은 아니지만, 과거에 대한 과장된 평가를 바로잡으면 실제 위협과 안전하지만 과장된 위협을 구분하고, 스스로 통제할 수 있다는 느낌이 들면서 불안도 줄어들게 될 것입니다.
    </div>
  </div>
</ion-grid>
