<ion-grid class='page flex flex-col'>
  <h1>재앙화 vs 탈재앙화</h1>
  <div class='mt-6'>
    <div>
      재앙화 사고는 자동적으로 최악의 경우를 상상하면서 속수무책이라 체념하게 만드는 생각의 오류입니다.
      <br /><br />

      탈재앙화는 걱정하던 상황에 “그럼 뭐 어때!”라며 직면하는 것입니다. 걱정하는 부정적 상황이 발생해도 대처할 수 있는 방법이 있으며, 객관적인 관점에서 바라보면 그렇게까지 걱정할 일이 아님을 인정하는 것입니다.
      <br /><br />

      여기서
      <span class='smd-underline'
      >탈재앙화는 합리적이고 객관적으로 바라보는 것이지 무조건적인 긍정적인 사고를 의미하는 것은 아닙니다.
      </span>
      <br /><br />

      다음은 재앙화 사고를 탈재앙화 사고로 바꿔본 예시입니다.
      <br />
    </div>
    <br /><br />
    <div>
      <smd-card>
        <div>
          <b>재앙화 사고</b> <br />
          <div class='text-gray-500'>
            다른 사람들과 내가 이야기할 때 몸을 떨게 되면 어떻게 하나? 다른 사람들이 날 미쳤다고 생각하면 어쩌지?
          </div>
          <br />
          <b>탈재앙화 사고</b><br />
          <div class='text-gray-500'>
            내가 아는 사람들인가? 모르는 사람들인가? 어쨌거나 그 사람들이 무슨 생각을 하든 뭐 어때! 만약에 내 친구들이라면 나를 이해해줄 거야. 좀 당황스러웠지만 나는 계속 정상적으로 생활해 나갈 수 있어.
          </div>
        </div>
      </smd-card>
    </div>
    <div class='mt-6'>
      <smd-card>
        <b>재앙화 사고</b> <br />
        <div class='text-gray-500'>
          사람이 많은 곳에 가면 가슴이 심하게 뛰다가 죽거나 정신을 잃고 쓰러질 거야. 그럼 부끄러워서 어떻게 해!
        </div>
        <br />
        <b>탈재앙화 사고</b> <br />
        <div class='text-gray-500'>
          가슴이 심하게 뛸 순 있지. 그럼 뭐 어때! 지난 번 검사에서도 심장에는 이상이 없다고 했으니, 고장 나 죽을 일은 없어. 혹시나 쓰러진다 해도 주변 사람들이 도와줄 거고, 조금 부끄럽긴 하겠지만 오래 가진 않을 거야.
        </div>
      </smd-card>
      <br /><br />
    </div>
  </div>
</ion-grid>
