<smd-header1 title='공황평가(PDSS)' back='/pdss-questionnaire-step8'></smd-header1>

<ion-content>
  <ion-grid class='page grow'>
    <h2 class='mt-8 mb-8'>
      지난 주에 공황발작 시 경험한 것과 비슷한 신체증상을 일으키거나, 혹은 공황발작이 생길까 두려워 일상활동(운동, 샤워나 목욕하기, 커피 마시기, 공포영화 보기, 성관계 등)을 회피했거나, 두려움을 느낀 적이 있나요?
      <br /><br />
      지난 주에 있었던 신체증상에 대한 공포와 회피를 평가해 주십시오.
    </h2>

    <smd-item-list [items]='items' [(selection)]='selection' [divider]='true' [marginSize]='4' [innerMarginSize]='4'>
    </smd-item-list>

  </ion-grid>
</ion-content>

<smd-program-footer text='다음 (9/11)' (next)='next()' [disabled]='!valid'>
</smd-program-footer>
