<ion-grid class='page flex flex-col'>

  <div>
    아직은 익숙하지 않고, 낯설게 느껴지는 관점도<br />
    PanicDoc과 함께 반복적으로 연습하다보면 익숙하고 편안하게 느껴질 것입니다.<br />
    <br />
    또한, 이완 훈련을 통해 나의 평상시의 신체 반응과 긴장했을 때의 신체 반응을 알아차리고 내 몸을 조절하는 통제감을 느낄 수 있고 불안한 상황에서도 신체 반응을 조절해 볼 수 있습니다.<br />
    <br />
    치료의 핵심은 단순히 배우고 진도를 나가는 것이 아니라 <span class='smd-underline'>배운 것을 일상생활에 직접 적용하고 실천하는 것</span>입니다. 공황과 나의 감정, 생각을 관찰하고 구체화하여 기록을 남기는 것이 변화의 시작입니다.<br />
    <br />
    이번 한 주간 최소 3회 이상의 감정일기를 작성하며 하루에 2번 이완훈련을 진행해 봅시다.
  </div>
</ion-grid>

