<ion-grid class='page flex flex-col'>
  <h1>나를 관찰하고 기록하면?</h1>
  <div class='panel gray1 mt-5'>
    <div class='mt-2'>
      <b>
        4. 기록을 하며 프로그램에서 배운 것을 되돌아볼 수 있습니다.
      </b>
    </div>
    <div class='mt-3 text-gray-500'>
      처음부터 잘 할 수 있는 사람은 없습니다.<br />
      한 번 배운 것을 능숙하게 적용할 수도 없습니다.<br />
      <br />
      프로그램을 통해 새로운 것을 배우는 것보다 더 중요한 것은 일상에서, 배운 것을 꾸준히 적용해 보는 것입니다.<br />
      <br />
      매일의 감정일기를 기록하면 PanicDoc에 머무르며 하루를 돌아보게 되고, 프로그램에서 배운 것을 떠올려 실천하는 데 도움을 줍니다.
    </div>
  </div>
</ion-grid>
