<ion-grid class='page flex flex-col'>
  <h1>신체감각에 직면하기</h1>
  <div class='mt-6'>
    <ion-text>
      <div>
        공황발작은 시간이 지난 후에도 고통스러운 기억으로 남습니다. 공황발작의 기억이 고통스러워서 비슷한 증상만 느껴도 그것을 공황발작의 초기 증상으로 자동으로 인식해서 공황발작이  뒤따라 나타나는 경우도 흔히 있습니다. 
        <br /><br />
        증상 노출훈련을 통해 신체 감각을 구현하고 직면해 보고자 합니다. 그런데 왜 굳이 증상노출을 해서 고통스러운 증상을 다시 경험하도록 하는 걸까요?
        <br /><br />
        반복적으로 경험하게 되면 대상이나 상황과 친해짐으로써 어떤 일이 일어날지에 대한 불안함이 줄어들고 각성 수준도 낮아지게 됩니다. 또한 위험에 대한 왜곡된 지각이 교정됩니다.
        <br /><br />
        신체감각에 직면하기라고 해서 공황발작을 일부러 경험한다는 뜻은 결코 아닙니다. 신체감각에 직면하기의 목적은 
        <span class='smd-underline'>
          오히려 공황발작과 비슷한 증상들을 공황발작과 구분할 수 있도록 도와주는 훈련입니다.
        </span>
      </div>
    </ion-text>
  </div>
</ion-grid>