<ion-grid class='page flex flex-col'>
  <h1>가능성에 대한 과대평가</h1>
  <br />
  <div class='mt-6'>
    <ion-text>
      <span>
        불안한 상황에서는 발생 가능성이 아주 낮더라도 당장에 진짜로 일어날 것처럼 과대평가하기 쉽습니다. “실제로는 그러한 상황이 일어나지 않을 거라는 것을 알지만 일어날 가능성이 있다고 생각하기 때문에 두렵다.”고들 말합니다. 
        <br /><br />
        과대평가대로 일어나지 않는다는 것을 반복적으로 경험했는데도 어째서 두려움에서 벗어날 수 없었는지 생각해봅시다.
        <br /><br />
      </span>
    </ion-text>
    <div class='panel'>
      <ul>
        <li class='mt-2'>
          객관적인 경험은 무시하고 정서적인 추론을 하기 때문에 적합한 판단이 어렵기 때문입니다. 
        </li>
        <li class='mt-2'>
          현실적인 증거들이 쉽게 무시되기 때문입니다.
        </li>
        <li class='mt-2'>
          사람들은 과거의 사건에 대하여 왜곡하여 해석하기 쉽기 때문입니다.
        </li>
        <li class='mt-2'>
          자신의 불안이나 공포심에 압도당하여 객관적인 현실에서도 실제보다 위험을 더 크게 느낍니다.
        </li>
        <li class='mt-2'>
          부정적인 방향으로 하는 과대평가는 시간이 지날수록 그 연상작용이 활발해지고 누적되어 객관적으로 그 상황을 평가하기 어렵게 만들기 때문입니다.
        </li>
      </ul>
    </div>
  </div>
</ion-grid>