<ion-grid class='page flex flex-col'>

  <img class='mt-24 mb-8' src='assets/img/placeholder.svg' />

  <div class='mt-6'>
    노출치료도 이와 같습니다. 우리가 좋아하던 일과 소중한 일상에 한걸음 더 다가가는 것이 두렵고 불안할 수도 있습니다. 하지만 불안을 없애려 애쓰거나, ‘나는 왜 불안하지?’ 라는 생각에 슬퍼하고 화내는 대신 불안이 내 옆에 있도록 허용하고 내가 하고 싶은 일에 더 몰입할 수 있다면 불안이 남아있어도 내가 좋아하는 일에 다가갈 수 있다는 것을 경험하게 되고, 어느새 불안의 영향력에서 벗어나게 될 것입니다.<br />
    <br />
    혼자 힘으로 일상에 다가가는 것이 버겁게 느껴질 수도 있습니다. PanicDoc은 여러분이 일상에 다가갈 수 있도록 노출 훈련의 단계를 설정하고 한 걸음씩 더 나아갈 수 있도록 도와드릴 것입니다.
  </div>

</ion-grid>
