<ion-grid class='page flex flex-col'>
  <h1>두가지 생각의 오류</h1>
  <br />
  <ion-row>
    <span>
      <ion-text>
        <div class='mt-6'>
          불안과 공황 상태에서 일반적으로 두 가지 생각의 오류가 흔하게 발생합니다. 첫째는 ‘가능성에 대한 과대평가’이고 둘째는 ‘재앙화 사고’입니다.
        </div>
      </ion-text>
    <div class='panel'>
      <b>가능성에 대한 과대평가</b><br />
      <li>어떤 사건이 실제보다 훨씬 더 잘 발생할 것으로 믿는 것</li>
      <li>부정적 사건의 가능성을 부풀려서 생각하는 것</li>
      <div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- 이번엔 정말 심장마비인가보다.
        <br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- 불안하면 정신을 잃고 소리를 지르게 될 것 같아.
        <br />
      </div>
    </div>
    <div class='panel sky mt-2'>
      <b>재앙화 사고</b><br />
      <li>파국적으로 생각하기</li>
      <div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- 만일 다른 사람들이 내가 매우 불안해하거나
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;공황을 겪는 걸 알게 된다면 끔찍해. 다시는 얼굴을 들고 다닐 수 없을 거야.
        <br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- 다시 공황이 오면 난 대처할 수 없을 거야.
      </div>
    </div>
    </span>
  </ion-row>
</ion-grid>
