<ion-grid class='page flex flex-col'>
  <h1>공황을 촉발하는 신체감각 찾기 </h1>
  <div class='mt-6'>
    <ion-text>
      <div>
        내가 어떤 신체 감각을 두려워하고 있는지를 확인해봅시다.
      </div>
      <div class='text-gray-500 mt-1'>
        아래는 공황을 촉발 할 수 있는 신체감각의 예시입니다.
      </div>
    </ion-text>
    <div>
      <div class='panel mt-6'>
        1. 과거에 겪은 공황과 연관되는 자연적인 신체감각
        <ul>
          <li>운동에 의해 유발된 숨가쁨, 심장박동 증가</li>
          <li>초콜릿이나 카페인을 섭취했을 때의 두근거림, 초조함</li>
          <li>과식, 상한 음식을 먹었을 때의 구역질</li>
          <li>술이나 약물, 질병 때문에 생긴 ‘몽롱함’, 혼동감</li>
          <li>더운 날 햇빛 아래에서의 더운 느낌</li>
        </ul>
      </div>
      <div class='panel sky mt-4'>
        2. 과거에 겪은 공황과 관련은 없지만 공황의 신호로
        <br />&nbsp;&nbsp;&nbsp;오인되는 자연적인 신체감각
        <ul>
          <li>피로, 허기, 갈증, 욕구 불만 </li>
          <li>깊은 이완감</li>
          <li>깊은 이완감</li>
          <li>분노감</li>
        </ul>
      </div>
      <div class='panel mt-4'>
        3. 근육긴장이나 가슴 두근거림, 땀흘림, 떨림 같은
        <br />&nbsp;&nbsp;&nbsp;심한 긴장과 전반적인 불안감에 의해 유발되는
        <br />&nbsp;&nbsp;&nbsp;신체감각
      </div>
      <div class='panel sky mt-4'>
        4. 스트레스에 의해 유발되는 신체감각
        <ul>
          <li>적대적인 사람 대하기</li>
          <li>교통체증 겪기</li>
          <li>마감시간 맞추기</li>
          <li>데이트하기 </li>
        </ul>
      </div>
      <div class='panel mt-4'>
        5. 낮과 밤의 주기에 따라 변하는 신체증상
        <ul>
          <li>수면주기에 따른 정상적인 심장박동수 및 호흡수의 증가와 감소</li>
        </ul>
      </div>
      <br />
      <br />
    </div>
  </div>
</ion-grid>
