<ion-grid class='page flex flex-col'>
  <h1>공황의 신체감각</h1>

  <ion-row class='mt-6'>
    <img src='assets/img/placeholder.svg' />
  </ion-row>

  <ion-row>
    <ion-text class='mt-6'>
      <h1>왜 숨이 찰까요?</h1>
      <br />
      <span>
        응급 반응은 호흡의 속도와 깊이도 변화시킵니다. 신체 조직이 위험에 맞서는 활동을 하기 위해서는 더 많은 산소가 필요하기 때문입니다. 그러나 호흡이 증가된 상태가 지속되면 오히려 숨이 멈추거나 막히는 느낌이나 가슴 부위의 통증과 조이는 듯한 느낌이 생길 수 있습니다.
      </span>
      <br /><br />
      <span>
        또한 호흡이 증가된 상태에서 아무 활동도 하지 않으면, 즉 산소를 소모하지 않으면, 머리로 가는 혈액 양이 줄어듭니다. 그 양이 매우 적고 전혀 위험하지도 않지만, 시야가 흐려지고 어지럽고 불쾌한 증상을 일으킬 수 있습니다.
      </span>
      <br /><br />
      <span>
        위험에 직면했을 때 생기는 신체 변화는 불편감을 주지만 결코 위험하지 않습니다.
      </span>
    </ion-text>
  </ion-row>
</ion-grid>
