<smd-header1 title='증상 노출훈련' [back]='back'></smd-header1>

<ion-content>

  <ng-container *ngIf='!selected'>
    <ion-grid class='page'>
      <h2>
        일상활동 노출훈련으로 <span class='smd-underline'>익숙해지기!</span>
      </h2>
      <div class='text-gray-500'>
        반복적 두려운 상황에 노출해서 불안함을 줄여보세요.
      </div>
      <ion-button class='w-full mt-4'>
        <ion-icon class='absolute left-0' name='pencil'></ion-icon>
        일상활동 노출훈련하기
      </ion-button>

      <!--목록 -->
      <div *ngFor='let record of records' class='mt-6' (click)='selectRecord(record)'>
        <smd-card>
          <div>{{ record.name }}</div>
          <div class='text-gray-600'>{{ record.description }}</div>
          <div class='text-gray-400'>{{ record.date | date:'yy.MM.dd hh:mm:ss a' }}</div>
        </smd-card>
      </div>
    </ion-grid>
  </ng-container>

  <!-- 선택 됐을때 -->
  <ng-container *ngIf='selected'>
    <ion-grid class='page'>
      <smd-card>
        <div class='flex flex-col'>
          <p>
            <span class='color-primary-dark mr-4'>훈련방법</span>{{ selected.name }}
          </p>
          <p>
            <span class='color-primary-dark mr-4'>단계</span>{{ selected.description }}
          </p>
          <p>
            <span class='color-primary-dark mr-4'>훈련일정</span>{{ selected.date | date:'yy.MM.dd a hh:mm:ss' }}
          </p>
          <p>
            <span class='color-primary-dark mr-4'>훈련장소</span>{{ selected.location }}
          </p>
        </div>
      </smd-card>
    </ion-grid>

    <hr class='w-full h-1 bg-gray-200 mt-8' />

    <ion-grid class='page'>
      <div class='mt-8'>
        <smd-score-select text='계획한 내용에 어느정도 수행을 완료했습니까?' [texts]='GradeLabels2'></smd-score-select>
      </div>

      <div class='mt-8'>
        <smd-score-select text='훈련 때 나의 공포는 어느 정도입니까?' [texts]='GradeLabels2'></smd-score-select>
      </div>

      <div class='mt-8'>
        <smd-score-select text='훈련 때 나의 공포는 어느 정도입니까?' [texts]='GradeLabels2'></smd-score-select>
      </div>

      <h2 class='mt-8'>공황발작 증상</h2>
      <div class='flex flex-row flex-wrap mt-4'>
        <smd-chip class='mr-2 mb-2' *ngFor='let st of selected.symptoms' [text]='st' [checked]='true'></smd-chip>
      </div>

      <h2 class='mt-8'>훈련 때 나의 생각</h2>

      <ion-textarea class='mt-4 px-4' placeholder='텍스트를 입력해 주세요.' [rows]='6'
        [(ngModel)]='selected.thought' [disabled]='true'>
      </ion-textarea>

      <h2 class='mt-8'>훈련 때 나의 행동</h2>
      <ion-textarea class='mt-4 px-4 mb-8' placeholder='텍스트를 입력해 주세요.' [rows]='6'
        [(ngModel)]='selected.behavior' [disabled]='true'>
      </ion-textarea>
    </ion-grid>
  </ng-container>


</ion-content>
