<smd-header1 title='증상 노출훈련' [back]='back'></smd-header1>

<ion-content>
  <ng-container *ngIf='!selected'>
    <ion-grid class='page'>

      <h2>
        증상 노출훈련으로 <span class='smd-underline'>불안감 줄이기!</span>
      </h2>
      <div class='text-gray-500'>
        나의 신체반응을 직면하고 감정행동을 바르게 인지하세요.
      </div>
      <ion-button class='w-full mt-4'>
        <img class='absolute left-0' src='/assets/icon/footer_diary.svg'>
        증상 노출훈련하기
      </ion-button>

      <div *ngFor='let record of records' class='mt-6' (click)='selectRecord(record)'>
        <smd-card>
          <div class='flex flex-row items-center'>
            <img src='assets/img/{{ record.icon }}.png' />
            <div class='flex-col ml-4'>
              <div>{{ record.name }}</div>
              <span class='text-gray-400'>{{ record.date | date:'yy.MM.dd HH:mm:ss a' }}</span>
            </div>
            <div class='flex grow'></div>
            <div class='rounded-full p-2 w-16 text-center text-gray-500' style='background: {{ record.complete ? "#DDEFE8" : "#eee" }};'>
              {{ record.complete ? '완료' : '미완료' }}
            </div>
          </div>
        </smd-card>
      </div>
    </ion-grid>
  </ng-container>

  <!-- 선택 됐을때 -->
  <ng-container *ngIf='selected'>
    <ion-grid class='page'>
      <smd-card>
        <div class='flex flex-col'>
          <p>
            <span class='color-primary-dark mr-4'>운동방법</span>머리 숙였다 들기
          </p>
          <p>
            <span class='color-primary-dark mr-4'>운동시작</span>{{ selected.date | date:'yy.MM.dd hh:mm:ss a' }}
          </p>
          <p>
            <span class='color-primary-dark mr-4'>운동유지</span>{{ toHHmmss(selected.duration) }}
          </p>
        </div>
      </smd-card>
    </ion-grid>

    <hr class='w-full h-1 bg-gray-200 mt-8' />

    <ion-grid class='page'>
      <div class='mt-8'>
        <smd-score-select text='나의 공포감은 어느 정도입니까?'
          [texts]='GradeLabels2'></smd-score-select>
      </div>

      <div class='mt-8'>
        <smd-range text='실제 공황과 얼마나 비슷한가요?'></smd-range>
      </div>

      <h2 class='mt-8'>공황발작 증상</h2>
      <div class='flex flex-row flex-wrap mt-4'>
        <smd-chip class='mr-2 mb-2' *ngFor='let st of selected.symptoms' [text]='st' [checked]='true' [checkable]='false' [disabled]='true'></smd-chip>
      </div>

      <h2 class='mt-8'>훈련 때 나의 생각</h2>
      <ion-textarea class='mt-4 px-4' placeholder='텍스트를 입력해 주세요.' [rows]='6'
        [(ngModel)]='selected.thought' [disabled]='true'>
      </ion-textarea>

      <h2 class='mt-8'>훈련 때 나의 행동</h2>
      <ion-textarea class='mt-4 px-4 mb-8' placeholder='텍스트를 입력해 주세요.' [rows]='6'
        [(ngModel)]='selected.behavior' [disabled]='true'>
      </ion-textarea>
    </ion-grid>
  </ng-container>

</ion-content>
