<ion-grid class='page flex flex-col'>

  <h1>
    같은 사건에도 <span class='smd-underline'>다양한 해석</span>이<br />
    있을 수 있습니다.
  </h1>

  <div class='text-gray-500 mt-3'>
    똑같이 공황발작이 찾아와도, 어떻게<br />
    생각하느냐에 따라 내 감정과 행동이 달라집니다.
  </div>

  <div class='relative flex flex-row justify-center border-slate-100 mt-4 pb-12'>

    <svg xmlns="http://www.w3.org/2000/svg" width="321" height="321" viewBox="0 0 321 321">
      <g id="그룹_55380" data-name="그룹 55380" transform="translate(-27.5 -239.5)">
        <path id="패스_35722" data-name="패스 35722" d="M160,0A160,160,0,1,1,0,160,160,160,0,0,1,160,0Z" transform="translate(28 240)" fill="#f2f1f1"/>
        <g id="그룹_55373" data-name="그룹 55373" transform="translate(0 -3)">
          <path id="패스_35724" data-name="패스 35724" d="M140.376,0A159.5,159.5,0,0,0,27.239,46.863L140.376,160Z" transform="translate(47.624 243)" fill="#ddefe8" stroke="#49b578" stroke-linejoin="round" stroke-width="1"/>
          <path id="패스_35726" data-name="패스 35726" d="M93,93Z" transform="translate(95 310)" fill="#ddefe8" stroke="#49b578" stroke-width="1"/>
          <path id="패스_35727" data-name="패스 35727" d="M93,93Z" transform="translate(95 310)" fill="#ddefe8" stroke="#49b578" stroke-width="1"/>
          <path id="패스_35729" data-name="패스 35729" d="M140.376,93,27.239,206.137A159.5,159.5,0,0,0,140.376,253Z" transform="translate(47.624 310)" fill="#ddefe8" stroke="#49b578" stroke-linejoin="round" stroke-width="1"/>
          <path id="패스_35730" data-name="패스 35730" d="M93,93V253a159.5,159.5,0,0,0,113.137-46.863Z" transform="translate(95 310)" fill="#ddefe8" stroke="#49b578" stroke-linejoin="round" stroke-width="1"/>
          <path id="패스_35731" data-name="패스 35731" d="M0,93A159.5,159.5,0,0,0,46.863,206.137L160,93Z" transform="translate(28 310)" fill="#ddefe8" stroke="#49b578" stroke-linejoin="round" stroke-width="1"/>
          <path id="패스_35732" data-name="패스 35732" d="M160,140.376,46.863,27.239A159.5,159.5,0,0,0,0,140.376Z" transform="translate(28 262.624)" fill="#ddefe8" stroke="#49b578" stroke-linejoin="round" stroke-width="1"/>
          <path id="패스_35733" data-name="패스 35733" d="M93,140.376H253A159.5,159.5,0,0,0,206.137,27.239Z" transform="translate(95 262.624)" fill="#ddefe8" stroke="#49b578" stroke-linejoin="round" stroke-width="1"/>
          <path id="패스_35734" data-name="패스 35734" d="M206.137,46.863A159.5,159.5,0,0,0,93,0V160Z" transform="translate(95 243)" fill="#ddefe8" stroke="#49b578" stroke-linejoin="round" stroke-width="1"/>
        </g>
      </g>
    </svg>

    <div class='absolute text-center left-[60%] top-[45%]'>
      호흡이 점점 가빠져<br />결국 숨이 막혀<br />죽을거야.
    </div>
    <div class='absolute text-center left-[55%] top-[70%]'>
      내가 빨리<br />뛰어서 그래
    </div>
    <div class='absolute text-center right-[55%] top-[70%]'>
      이건 정상적인<br />반응이야
    </div>
    <div class='absolute text-center right-[65%] top-[45%]'>
      몸에 산소를 공급<br />하려고 숨을 많이<br />쉬는거야.
    </div>
    <div class='absolute text-center right-[72%] top-[32%]'>
      호흡은 다시<br />돌아올거야.
    </div>
    <div class='absolute text-center right-[52%] top-[7%]'>
      너무 의식해서<br />숨이 더 가쁘게<br />느껴지는거야
    </div>
    <div class='absolute text-center left-[52%] top-[7%]'>
      잠깐<br />불안해서<br />그래
    </div>
    <div class='absolute text-center left-[67%] top-[27%]'>
      예전에도 숨이<br />막히지는 않았어.<br />돌아올거야.
    </div>

  </div>

  <hr />

  <div class='text-blue-600 text-center mt-4'>
    공황은 괴롭지만, 결코 위험하지 않습니다.<br />
    극단적인 생각은 우리를 불안하게 합니다.<br />
    하지만, 생각은 생각일 뿐 사실이 아닙니다.
  </div>
  <div class='text-gray-500 text-center mt-4 mb-8'>
    공황에 대한 극단적인 생각에서 벗어나<br />
    공황을 다스려 봅시다.
  </div>

</ion-grid>
